.blurBg {
    background-color: #a2957596;
}
.routeAndFrontkWrapper {
    background-color: #a29575;
}
.frontWrapper p {
    color: #a29575;
}
.frontWrapper {
    background-color: #a29575;
}
.nearestLandmarkContainer {
    background-color: #a29575;
}
.landmarkNote {
    color: #a29575;
}
.landmarkNote a {
    color: #a29575;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #a29575;
}