body {
    scroll-behavior: smooth;
    background-color: #f8f9fa;
}
/* nav bar */
.navbar {
    height: 50px;
    justify-content: flex-end;
}
.nav {
    /* box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.053); */
    background-color: transparent;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 8;
}
.nav a {
    color: #f8f9fa;
    font-weight: 500;
    font-size: 1.5rem;
}
.navBtn:hover, .navBtn:focus {
    color: #fff;
    animation: scaled 250ms linear 0s 1 normal;
    -webkit-animation: scaled 250ms linear 0s 1 normal;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.headerContainer {
    width: 100%;
    height: 49vw;
    position: relative;
    z-index: 6;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: -50px;
}
/* header image */
.headerImage {
    width: 100%;
    height: 100%;
}

/* blurred part */
.blurBg {
    position: absolute;
    z-index: 7;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    top: 0vw;
    left: 0vw;
    background-color: #1f412896;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    overflow: hidden;
    animation: revealBlurBg 2s 1;
    -webkit-animation: revealBlurBg 2s 1;
    box-shadow: 50px 0px 50px rgba(0, 0, 0, 0.197);
}
.businessName {
    color: rgb(250, 250, 250);
    font-size: 5vw;
    font-weight: 800;
    text-align: left;
    padding: 0vw 0vw 0vw 2vw;
    line-height: 5vw;
}
.businessDesc {
    color: rgb(250, 250, 250);
    font-size: 1.25vw;
    font-weight: 500;
    padding: .5vw 2vw;
}

/* sample images */
.sampleImagesWrapper {
    position: relative;
    z-index: 5;
    margin: 1vw auto 1vw auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
}
.sampleImages {
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
    margin: 0vw 1vw;
    border: 1px solid rgb(208, 208, 213);
    object-fit: cover;
    transform: scale(0);
}

/* route and landmark */
.routeAndFrontkWrapper {
    position: relative;
    background-color: #1f4027;
    width: 100%;
    height: 47vw;
    margin: 1vw 0vw 0vw 0vw;
    padding: 2vw 3vw;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0;
    z-index: 4;
    overflow: hidden;
}
/* route */
#alternativeRouteContainer2 {
    display: none;
    background-color: red;
}
#alternativeRouteContainer3 {
    display: none;
    background-color: green;
}
#alternativeRouteContainer4 {
    display: none;
    background-color: blue;
}
.mainRouteContainer {
    width: 100%;
    height: 90%;
    display: block;
    background-color: violet;
}
.alternativeRouteContainer {
    width: 100%;
    height: 90%;
}
.routeWrapper {
    width: 100%;
    height: 100%;
}
.routeImg {
    width: 100%;
    height: 100%;
}

/* route button wrapper */
.legendWrapper {
    display: flex;
    flex-wrap: nowrap;
}
.legendWrapper .routeBtn {
    width: 16.5vw;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    padding: 0vw;
    margin-top: 1vw;
    cursor: pointer;
    background-color: #fff;
    font-size: 2vw;
    margin-left: 1vw;
    text-align: center;
}
.legendWrapper .dropend .dropdown-menu {
    min-width: 6rem;
}
.legendWrapper .routeBtn:focus, .routeBtn:active {
    background-color: #f8f9fa;
    outline: none !important;
    box-shadow: none;
    color: #030328;
    animation: none;
}
.legendWrapper .dropend .dropdown-menu .dropdown-item:hover {
    background-color: #0d6efd;
    color: #f8f9fa;
}

/* front image, address, and nearest landmark */
.frontAndNearestLandmarkContainer {
    position: relative;
    z-index: 2;
    background-color: #f8f9fa;
    height: 50vw;
    width: 100%;
    padding: 2vw 3vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* front image and complete address */
.frontWrapper {
    text-align: center;
    width: 35%;
    height: 100%;
    background-color: #1f4027;
    padding: 1vw;
}
.frontWrapper .cover {
    width: 100%;
    height: 80%;
}
.frontWrapper p {
    padding-top: 1vw;
    color: #f8f9fa;
    font-size: 2vw;
}

/* nearest landmark image and note */
.nearestLandmarkContainer {
    width: 60%;
    overflow: hidden;
    padding: 1vw;
    background-color: #1f4027;
}
.nearestLandmarkImg {
    width: 100%;
    height: 70%;
}
#addressInsideNearestLandmark {
    display: none;
}
.landmarkNoteContainer {
    background-color: #f8f9fa;
    width: 95%;
    height: 9vw;
    margin-top: 3vw;
    margin-inline: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 1vw 1vw 1vw;
}
.landmarkNote {
    margin-top: 3vw;
    font-size: 1.75vw;
    color: #1f4027;
}
.landmarkNote a {
    color: #1f4027;
    font-weight: 700;
}

/* other branches */
.otherBranchesContainer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}
.otherBranchesWrapper {
    border: 1px solid #1f4027;
    width: 0%;
    margin: 0vw auto 2vw 5%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.363);
    overflow: hidden;
}
.otherBranchHeader {
    position: relative;
    font-size: 2vw;
    font-weight: 600;
    line-height: 3.5vw;
    padding-left: 2vw;
    margin: 0vw;
    color: #1f4027;
    background-color: transparent;
    z-index: 1;
}
.otherBranchesWrapper .destination {
    overflow-x: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}
.otherBranchesWrapper .choicesWrapper {
    display: flex; 
    flex-wrap: nowrap; 
    margin: 0vw 1vw 1vw 1vw;
    z-index: 6;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    text-decoration: none;
    color: #1f4027;
}
/* card */
.otherBranchesWrapper .card {
    /* position: static; */
    width: 17vw;
    height: auto;
    margin:  0.5vw 1vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.385);
}
.otherBranchesWrapper .title {
    margin: auto;
    padding: 0vw;
    border: 0vw;
}
.otherBranchesWrapper .desc {
    margin: .5vw 1vw auto auto;
    padding: 0vw;
    border: 0vw;
    line-height: 1vw;
}
.otherBranchesWrapper .destination::-webkit-scrollbar {
    height: 0.6vw;
}
.otherBranchesWrapper .destination::-webkit-scrollbar-track {
    background: rgba(71, 65, 65, 0.455);
    border-radius: 50px;
}
.otherBranchesWrapper .destination::-webkit-scrollbar-thumb {
    background: #848080;
    border-radius: 50px;
}

/* back to top button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    text-decoration: none;
    background-color: white;
    color: #030328;
    border: 1px solid #030328;
    font-size: 4vw;
    line-height: 3vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
#backToTopBtn:hover, #backToTopBtn:focus {
    text-decoration: none;
    color: #030328;
    animation: scaled 500ms 1;
    -webkit-animation: scaled 500ms 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/* back and back to top button */
.backTopBtnContainer {
    position: relative;
    z-index: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
}
.backTopBtnWrapper {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: 14vw;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 1vw;
}
a {
    text-decoration: none;
}

.backBtn {
    font-size: 1.5vw;
    background-color: #2a6908;
    line-height: 1vw;
    padding: .5vw 2vw;
    border-radius: 10px 0px 0px 10px;
}
.backBtn:hover, .backBtn:focus {
    animation: scaled 250ms linear 0s 1 normal;
    -webkit-animation: scaled 250ms linear 0s 1 normal;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.topBtn {
    font-size: 1.5vw;
    background-color: #1f4027;
    line-height: 1vw;
    padding: .5vw 2vw;
    border-radius: 0px 10px 10px 0px;
}

.topBtn:hover, .topBtn:focus{
    animation: scaled 250ms linear 0s 1 normal;
    -webkit-animation: scaled 250ms linear 0s 1 normal;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    color: #f0f0f0;
}

/* animations to be added after scrolling */
.sampleImagesAnimation {
    animation: revealSampleImage 1s 1;
    -webkit-animation: revealSampleImage 1s 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.routeAndFrontWrapperSlideToLeftAnimation {
    animation: slideToLeft 1.3s 1;
    -webkit-animation: slideToLeft 1.3s 1;
    opacity: 1;
}
.frontAddressAndNearestLandmarkAnimation {
    animation: revealFrontAddressAndNearestLandmrk 1s 1;
    -webkit-animation: revealFrontAddressAndNearestLandmrk 1s 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.revealOtherBranch {
    animation: revealFromLeft 3s ease 1;
    -webkit-animation: revealFromLeft 3s ease 1;
    width: 90%;
}
.slideDownBackToptn {
    animation: slideToDown 2s 1;
    -webkit-animation: slideToDown 2s 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}


/* animations */
@keyframes scaled {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}
@keyframes revealBlurBg {
    from {
        transform: translateX(-900px);
        -webkit-transform: translateX(-900px);
    }
    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
}
@keyframes revealSampleImage {
    0% {
        transform: scale(0, .02);
        -webkit-transform: scale(0, .02);
    }
    50% {
        transform: scale(1, .02);
        -webkit-transform: scale(1, .02);
    }
}
@keyframes slideToLeft {
    from {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        opacity: 0;
        padding-left: 100%;
    }
    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        opacity: 1;
        padding-left: 3vw;
    }
}
@keyframes revealFromLeft {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
@keyframes slideDownBackTopBtn {
    from {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}
@keyframes revealFrontAddressAndNearestLandmrk {
    0% {
        transform: scale(.01, 0);
        -webkit-transform: scale(.01, 0);
    }
    50% {
        transform: scale(.01, 1);
        -webkit-transform: scale(.01, 1);
    }
}

@media only screen and (max-width: 430px) /* phone*/ {
    /* nav bar */
    .navbar {
        height: 6.5vw;
        padding: 2px;
        padding-top: 0vw;
        padding-bottom: 0vw;
        background-color: transparent;
    }
    .nav a {
        padding-top: 0.5vw;
        margin: 0vw;
        border: 0vw;
        font-size: 2.5vw;
        background-color: transparent;
    }
    .headerContainer {
        height: 60vw;
    }
    .businessName {
        font-weight: 900;
        padding: 0vw 0vw 0vw 1vw;
        margin-bottom: 1vw;
    }
    .businessDesc {
        font-size: 1.55vw;
        font-weight: 400;
        padding: 0vw 0.5vw;
        margin-bottom: 2vw;
    }

    /* sample images */
    .sampleImagesWrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .sampleImagesRow {
        width: 100vw;
        margin-top: 1vw;
        justify-content: center;
        text-align: center;
    }
    .sampleImages {
        width: 43vw;
        height: 43vw;
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    /* embedded route */
    .routeAndFrontkWrapper {
        height: 80vw;
        margin: 1vw 0vw 0vw 0vw;
        padding: 1vw;
    }
    .legendWrapper .routeBtn {
        font-size: 3vw;
        width: 25vw;
    }
    .dropdown-item {
        font-size: 3vw;
        padding: 0 0 0 3vw;
    }

    /* legend text */
    .legendWrapper p {
        font-size: 2.3vw;
    }

    /* much accurate address */
    .frontWrapper p {
        font-size: 2.5vw;
    }

    /* front, address, and nearest landmark */


    /* other branches */
    .otherBranchesWrapper {
        box-shadow: none;
    }
    .otherBranchHeader {
        font-size: 3vw;
        font-weight: 600;
        line-height: 4.5vw;
        padding-left: 2vw;
        margin: 0vw;
    }
    .otherBranchesWrapper .card {
        width: 20vw;
        height: auto;
        margin:  0.5vw 1vw;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.385);
    }
    .otherBranchesWrapper .card-body {
        padding: .5vw 1vw 1vw 1vw;
    }
    .otherBranchesWrapper .title {
        font-size: 2vw;
    }
    .otherBranchesWrapper .desc {
        font-size: 1.5vw;
        line-height: 2vw;
    }

    /* back and back to top button */
    .backTopBtnContainer {
        margin-bottom: 10vw;
    }
    .backTopBtnWrapper {
        width: 20vw;
    }
    .backBtn {
        font-size: 2vw;
        line-height: 2vw;
        padding: 1vw 3vw;
    }
    .topBtn {
        font-size: 2vw;
        line-height: 2vw;
        padding: 1vw 3vw;
    }

    .sampleImagesRow:first-child{
        z-index: 6;
        animation: revealSampleImage 1s linear 1;
        -webkit-animation: revealSampleImage 1s linear 1;
        transform: translateY(0vw);
        -webkit-transform: translateY(0vw);
    }
    @keyframes revealSampleImage {
        from {
            transform: translateY(-45.5vw);
            -webkit-transform: translateY(-45.5vw);
        }
        to {
            transform: translateY(0vw);
            -webkit-transform: translateY(0vw);
        }
    }

    .sampleImagesRow:last-child {
        z-index: 5;
        animation: revealSampleImage1 2s linear 1;
        -webkit-animation: revealSampleImage1 2s linear 1;
        transform: translateY(0vw);
        -webkit-transform: translateY(0vw);
    }
    @keyframes revealSampleImage1 {
        from {
            transform: translateY(-91vw);
            -webkit-transform: translateY(-91vw);
        }
        to {
            transform: translateY(0vw);
            -webkit-transform: translateY(0vw);
        }
    }

    .routeAndFrontkWrapper {
        animation: slideToLeft 3.5s linear 1;
        -webkit-animation: slideToLeft 3.5s linear 1;
        transform: translateY(0vw);
        -webkit-transform: translateY(0vw);
        opacity: 1;
    }
    @keyframes slideToLeft {
        0% {
            transform: translateY(-110vw);
            -webkit-transform: translateY(-110vw);
            padding-bottom: 100%;
        }
        100% {
            transform: translateY(0vw);
            -webkit-transform: translateY(0vw);
            padding-bottom: 2vw;
        }
    }
    
    .frontAndNearestLandmarkContainer {
        animation: slideToDown 3.8s linear 1;
        -webkit-animation: slideToDown 3.8s linear 1;
        transform: translateY(0vw);
        -webkit-transform: translateY(0vw);
    }
    @keyframes slideToDown {
        0% {
            transform: translateY(-200vw);
            -webkit-transform: translateY(-200vw);
        }
        100% {
            transform: translateY(0vw);
            -webkit-transform: translateY(0vw);
        }
    }

    .otherBranchesWrapper {
        width: 90%;
        animation: revealFromLeft 4.8s linear 1;
        -webkit-animation: revealFromLeft 4.8s linear 1;
        transform: translateY(0vw);
        -webkit-transform: translateY(0vw);
    }
    @keyframes revealFromLeft {
        from {
            transform: translateY(-150vw);
            -webkit-transform: translateY(-150vw);
        }
        to {
            transform: translateY(0vw);
            -webkit-transform: translateY(0vw);
        }
    }

    .backTopBtnContainer {
        animation: slideDownBackTopBtn 5s linear 1;
        -webkit-animation: slideDownBackTopBtn 5s linear 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    @keyframes slideDownBackTopBtn {
        0% {
            transform: translateY(-200vw);
            -webkit-transform: translateY(-200vw);
            opacity: 0;
        }
        90% {
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            opacity: 1;
        }
    }
    
}
@media only screen and (max-width: 770px) and (min-width: 430px) /* tablet */ {
    .otherBranchHeader {
        font-size: 2vw;
        font-weight: 600;
        line-height: 4.5vw;
        padding-left: 2vw;
        margin: 0vw;
    }
    .otherBranchesWrapper .card {
        width: 20vw;
        height: auto;
        margin:  0.5vw 1vw;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.385);
    }
    .otherBranchesWrapper .card-body {
        padding: .5vw 1vw 1vw 1vw;
    }
    .otherBranchesWrapper .title {
        font-size: 2vw;
    }
    .otherBranchesWrapper .desc {
        font-size: 1.5vw;
        line-height: 2vw;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) /* lappy 1024 */ {
    .otherBranchesWrapper .card {
        display: flex;
        width: 17vw;
        height: auto;
    }
    .otherBranchesWrapper .card-body {
        padding: .5vw 1vw 1vw 1vw;
    }
    .otherBranchesWrapper .title {
        font-size: 1.7vw;
    }
    .otherBranchesWrapper .desc {
        font-size: 1.3vw;
        line-height: 1vw;
    }
}