body {
    scroll-behavior: smooth;
    background-color: #357860;
}
/* nav bar */
.navbar {
    height: 50px;
    background-color: white;
}
.nav {
    box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.053);
    background-color: white;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}
.nav a {
    color: #000;
}
.navBtn:hover, .navBtn:focus {
    color: #000;
    animation: scaled 250ms linear 0s 1 normal;
    -webkit-animation: scaled 250ms linear 0s 1 normal;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/* header */
.tagaytayBgImage {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 45.3vw;
    object-fit: cover;
    overflow: hidden;
}
.carouselShield {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 45.3vw;
}
#carouselWhereToStay {
    display: none;
}
#carouselWhereToExplore {
    display: none;
}
#carouselChurches {
    display: none;
}
.headerWrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 45.3vw;
}

/* blurry part */
.blurBg {
    position: absolute;
    top: 50px;
    left: 0;
    height: 45.3vw;
    width: 30%;
    border-style: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #35786051;
    box-shadow: 100px 0px 50px rgba(0, 0, 0, 0.318);
    text-align: center;
    padding-top: 20vw;
}
.tagaytayLabel {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tagaytayWord {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 0vw;
    line-height: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cityWord {
    font-size: 3vw;
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 2vw;
    line-height: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shortDesc {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 1vw;
    line-height: 1.5vw;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: sans-serif;
}

/* where to btn choices */
.choices {
    height: auto;
    width: 68%;
    z-index: 1;
    position: absolute;
    top: 29vw;
    left: 31vw;
    display: flex;
    flex-wrap: nowrap;
}
a {
    text-decoration: none;
}
.whereToBtn {
    margin-left: 2vw;
    height: 16vw;
    width: 14vw;
    border-radius: 5%;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
}
.whereToPic {
    height: 16vw;
    width: 14vw;
    border-radius: 5%;
    position: relative;
}
.whereToLabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 4px 3px 5px rgb(1, 22, 1);
    font-weight: 650;
    font-size: 1.60vw;
    line-height: 1.7vw;
    margin-top: -3vw;
    position: relative;
    z-index: 4;
}
.choices > a:hover, a:focus {
   animation: upChoices 500ms ease 1;
   -webkit-animation: upChoices 500ms ease 1;
   transform: translateY(-50px);
   -webkit-transform: translateY(-50px);
}

/* where to eat/sleep/swim/pray */
.bodyWrapper {
    width: 100%;
    height: auto;
    position: static;
    margin: 2vw auto auto auto;
    padding-bottom: 1vw;
    background-color: transparent;
    padding-left: 2vw;
    padding-right: 2vw;
}
#whereToEat {
    display: none;
}
#whereToStay {
    display: none;
}
#whereToExplore {
    display: none;
}
#whereToChurches {
    display: none;
}
.bodyTitle {
    text-shadow: 2px 3px 1px #000;
    color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    font-size: 2.5vw;
    line-height: 2.5vw;
    border-bottom: 0vw;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    animation: slideTitle 2s 100ms;
    -webkit-animation: slideTitle 2s 100ms;
}
.choiceName {
    text-shadow: 2px 3px 1px #000;
    color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2.25vw;
    line-height: 3vw;
    border-bottom: 0vw;
    margin: 1vw 0vw 0vw 2vw;
    padding-bottom: 0vw;
    animation: slideChoiceName 2s 100ms;
    -webkit-animation: slideChoiceName 2s 100ms;
}
.destination {
    overflow-x: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}
.choicesWrapper {
    display: flex; 
    flex-wrap: nowrap; 
    margin: 1vw;
    animation: slideChoices 2s 100ms;
    -webkit-animation: slideChoices 2s 100ms;
}
.destination .choiceName a {
    text-decoration: none;
    background-color: transparent;
}
.bodyWrapper .destination .choicesWrapper > a:hover, a:focus{
    animation: choicesAnimaiton 400ms ease 1;
    -webkit-animation: choicesAnimaiton 400ms ease 1;
    transform: translateY(-10px) scale(1.05);
    -webkit-transform: translateY(-10px) scale(1.05);
}
/* cards */
.destination .choicesWrapper .card .top-0 {
    top: 6% !important;
}
.destination .choicesWrapper .card .start-100 {
    left: 94% !important;
}
.destination .choicesWrapper .card .badge {
    font-size: 1vw;
}
.card {
    background-color: #fdfdfd;
    width: 17vw;
    height: auto;
    margin:  0.5vw 1vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
    border-radius: 10px;
    overflow: hidden;
    border: none;
}
.card-body {
    padding: 1vw 1vw;
    z-index: 4;
    background-color: white;
}
.title {
    margin: auto;
    padding: 0vw;
    border: 0vw;
    color: #010101;
}
.desc {
    margin: .5vw 1vw auto auto;
    padding: 0vw;
    border: 0vw;
    line-height: 1vw;
    color: #010101;
}
.destination::-webkit-scrollbar {
    height: 0.6vw;
}
.destination::-webkit-scrollbar-track {
    background: rgba(71, 65, 65, 0.455);
    border-radius: 50px;
}
.destination::-webkit-scrollbar-thumb {
    background: #848080;
    border-radius: 50px;
}
.bodyWrapper .destination .choicesWrapper .card .card-img-top:hover, .card-img-top:focus {
    animation: scaleImgCard 800ms ease 1;
    -webkit-animation: scaleImgCard 800ms ease 1;
    transform: scale(2);
    -webkit-transform: scale(2);
}

/* back to top button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    text-decoration: none;
    background-color: white;
    color: #030328;
    border: 1px solid #030328;
    font-size: 4vw;
    line-height: 3vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
#backToTopBtn:hover, #backToTopBtn:focus {
    text-decoration: none;
    color: #030328;
    animation: scaled 500ms 1;
    -webkit-animation: scaled 500ms 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
@media only screen and (max-width: 430px) /* phone*/ {
    /* nav bar */
    .navbar {
        height: 6.5vw;
        padding: 2px;
        padding-top: 0vw;
        padding-bottom: 0vw;
        background-color: rgb(255, 255, 255);
    }
    .nav a {
        padding-top: 0.5vw;
        margin: 0vw;
        border: 0vw;
        font-size: 2.5vw;
        background-color: white;
    }

    /* header */
    .tagaytayBgImage {
        z-index: 0;
        position: static;
        width: 100%;
        height: 56.3vw;
        overflow: hidden;
    }
    .tagaytayBgImage .carousel-inner .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .headerWrapper {
        display: flex;
        flex-wrap: wrap;
        height: 28vw;
    }

    /* blurry part */
    .blurBg {
        z-index: 1;
        position: absolute;
        top: 6.5vw;
        left: 0;
        height: 56.3vw;
        width: 50%;
        border-style: hidden;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        box-shadow: 100px 0px 50px rgba(0, 0, 0, 0.318);
        text-align: center;
        padding-top: 25vw;
    }
    .tagaytayWord {
        font-size: 8vw;
        line-height: 10vw;
       color: #f2ecec;
    }
    .cityWord {
        font-size: 6vw;
        font-weight: 400;
        line-height: 2vw;
        color: #f2ecec;
    }
    .shortDesc {
        margin-top: 4vw;
        color: #f2ecec;
        font-size: 1.5vw;
        line-height: 2vw;
        padding-left: 2.25vw;
        padding-right: 2.25vw;
    }

    /* where to eat/sleep/swim/pray */
    .choices {
        position: static;
        height: auto;
        width: 100%;
        margin: 0vw;
        justify-content: space-evenly;
        padding-top: 2vw;
        padding-bottom: 0vw;
    }
    .whereToBtn {
        margin-left: 0vw;
        height: 23vw;
        width: 20vw;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
    }
    .whereToPic {
        height: 23vw;
        width: 20vw;
    }
    .whereToLabel {
        font-size: 2vw;
        line-height: 1vw;
    }

    /* content ng where to eat/sleep/swim/pray */
    #whereToEat {
        display: block;
    }
    #whereToStay {
        display: block;
    }
    #whereToExplore {
        display: block;
    }
    #whereToChurches {
        display: block;
    }
    .bodyWrapper {
        position: static;
        color: rgb(1, 38, 2);
        width: 100%;
        padding-left: 2vw;
        padding-right: 2vw;
        height: auto;
        margin: 0vw auto auto auto;
        padding-bottom: 1vw;
        background-color: rgba(250, 235, 215, 0.226);
    }
    .bodyTitle {
        margin-top: 0vw;
        font-size: 4vw;
        line-height: 5vw;
    }
    .destination {
        overflow-x: auto;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
    }

    /* card */
    .destination .choicesWrapper .card .top-0 {
        top: 10% !important;
    }
    .destination .choicesWrapper .card .start-100 {
        left: 90% !important;
    }
    .destination .choicesWrapper .card .badge {
        font-size: 1.5vw;
    }
    .card {
        display: flex;
        width: 21vw;
        height: auto;
    }
    .title {
        font-size: 2vw;
    }
    .desc {
        font-size: 1.5vw;
        line-height: 2vw;
    }
}

@media only screen and (max-width: 770px) and (min-width: 430px) /* tablet */ {

    /* header */
    .tagaytayBgImage {
        top: 50px;
    }
    .headerWrapper {
        display: flex;
        flex-wrap: wrap;
        height: 47vw;
    }

    /* blurry part */
    .blurBg {
        top: 50px;
        padding-top: 23vw;
    }

    /* where to btn choices */
    .choices {
        top: 33vw;
    }

    /* content ng where to eat/sleep/swim/pray */
    #whereToEat {
        display: block;
    }
    #whereToStay {
        display: block;
    }
    #whereToExplore {
        display: block;
    }
    #whereToChurches {
        display: block;
    }
    .bodyWrapper {
        width: 100%;
        padding-left: 3vw;
        padding-right: 3vw;
        max-width: 768px;
    }
    .bodyTitle {
        font-size: 4vw;
        line-height: 5vw;
    }

    /* cards */
    .card {
        display: flex;
        width: 20vw;
        height: auto;
    }
    .title {
        font-size: 2vw;
    }
    .desc {
        font-size: 1.5vw;
        line-height: 2vw;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) /* lappy 1024 */ {
    /* header */
    .tagaytayBgImage {
        top: 50px;
    }
    
    /* blurry part */
    .blurBg {
        top: 50px;
    }

    .bodyWrapper {
        width: 100%;
        padding-left: 3vw;
        padding-right: 3vw;
        max-width: 1024px;
    }
    .card {
        display: flex;
        width: 22vw;
        height: auto;
    }
}

/*  animations  */
@keyframes slideTitle {
    from {
        margin-left: 3vw;
    }
    to {
        margin-left: 0vw;
    }
}
@keyframes slideChoiceName {
    from {
        margin-left: 5vw;
    }
    to {
        margin-left: 2vw;
    }
}
@keyframes slideChoices {
    from {
        margin-top: 5vw;
    }
    to {
        margin-left: 1vw;
    }
}
@keyframes scaled {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}
@keyframes upChoices {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    to {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
    }
}
@keyframes choicesAnimaiton {
    from {
        transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
    }
    to {
        transform: translateY(-10px) scale(1.05);
        -webkit-transform: translateY(-10px) scale(1.05);
    }
}
@keyframes scaleImgCard {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    to {
        transform: scale(2);
        -webkit-transform: scale(2);
    }
}