body {
    scroll-behavior: smooth;
    background-color: #04aaf8;
    background-image: url("../images/bgImage/mapBg.jpg");
}
/* nav bar */
.navbar {
    background-color: transparent;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    justify-content: flex-end;
}
.nav a {
    color: #f8f9fa;
    font-weight: 500;
    font-size: 1.5rem;
}
.navBtn:hover {
    color: #f8f9fa;
    animation: scaled 250ms linear 0s 1 normal;
    -webkit-animation: scaled 250ms linear 0s 1 normal;
    transform: scale(1.2);
}
.navBtn:visited {
    color: #f8f9fa;
}

/* 8th district of cavite text */
.title {
    padding-left: 1vw;
}
.DistrictOfCavite {
    width: 100%;
    height: 4vw;
    margin-bottom: 0vw;
    margin-top: 1vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 3vw;
    color: #fff;
    filter: drop-shadow(3px 3px 3px #000080);
}
.eigth {
    font-size: 5vw;
}
.caviteDesc {
    color: #171437;
    margin-left: 1vw;
    font-size: 1vw;
    font-weight: 900;
    line-height: 1.5vw;
    width: 30vw;
}

/* municapality/city */
.wrapper {
    animation: fadeIn 1s linear 0s;
    height: 34vw;
    position: relative;
    top: -8vw;
    text-align: center;
}
.wholeDistrictOfCaviteMap {
    position: relative;
    height: 43vw;
    top: -1vw;
    left: 5vw;
    filter: drop-shadow(-3px 7px 12px #222222);
}

/* drop pins */
.dropPin {
    animation: fadeIn 2s linear 0s;
}
.dropPinAlfonso {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 32.5vw;
    left: 54.5vw;
}
.dropPinTagaytay {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 30.5vw;
    left: 74vw;
}
.dropPinMendez {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 28.5vw;
    left: 64vw;
}
.dropPinBailen {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 21.5vw;
    left: 48.4vw;
}
.dropPinMagallanes {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 24.5vw;
    left: 40vw;
}
.dropPinMaragondon {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 12.5vw;
    left: 38vw;
}
.dropPinTernate {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 12vw;
    left: 27vw;
}
.dropPinNaic {
    cursor: pointer;
    position: absolute;
    height: 12vw;
    top: 5.5vw;
    left: 47.5vw;
}
.dropPinAlfonso:hover, .dropPinAlfonso:focus, 
.dropPinTagaytay:hover, .dropPinTagaytay:focus,
.dropPinMendez:hover, .dropPinMendez:focus,
.dropPinBailen:hover, .dropPinBailen:focus,
.dropPinMagallanes:hover, .dropPinMagallanes:focus,
.dropPinMaragondon:hover, .dropPinMaragondon:focus,
.dropPinTernate:hover, .dropPinTernate:focus,
.dropPinNaic:hover, .dropPinNaic:focus
{
    animation: bounce 3s both ease-in-out infinite;
    -webkit-animation: bounce 3s both ease-in-out infinite;
    transform: scale(1.2);
}

/* note, instruction, and pictures */
.caviteDescForPhoneContainer {
    padding-bottom: 2vw;
}
.systemNoteForPhone {
    text-align: center;
    font-size: 1vw;
    color: #050329;
    width: 100%;
}
.instructionNotePicturesContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.noteAndInstructionContainer {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff73;
    padding: 2vw;
    border-radius: 20px;
    justify-content: space-around;
    align-content: center;
}
.instructionForPhone {
    font-size: 1.5vw;
}
.caviteDescForPhone {
    display: none;
}
#carouselExampleFade {
    width: 50vw;
    border-radius: 30px;
    overflow: hidden;
}

/* modal */
.modalContainer {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.141);
    backdrop-filter: blur(2px);
}
.modalContent {
    overflow: hidden;
    background-size: cover;
    margin: auto;
    margin-top: 7vw;
    animation: animatezoom 0.6s;
    -webkit-animation: animatezoom 0.6s;
    height: auto;
    width: 50vw;
    border-radius: 50px;
    padding-bottom: 3vw;
}
.btnclose {
    float: right;
    margin-right: 1vw;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.btnclose:hover, .btnclose:focus {
    color: #dc3545;
}
#modalTitle {
    padding: 20vw 2vw 0vw 2vw;
}
#modalDescription {
    padding: 0vw 2vw 0vw 2vw;
    /* font-weight: 10; */
}
#modalGoToDestinationList {
    margin-left: 2vw;
    border-radius: 10px;
    border: none;
    font-size: 1.15vw;
    height: auto;
    padding: .4vw 1.25vw;
}
#modalGoToDestinationList:hover, #modalGoToDestinationList:focus {
    animation: scaled 250ms linear 0s 1 normal;
    -webkit-animation: scaled 250ms linear 0s 1 normal;
    transform: scale(1.2);
}

@keyframes scaled {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0);
        -webkit-transform: scale(0);
    } 
    to {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@keyframes bounce {
    0%, 50%, 100% {
        transform: translateY(0) scale(1);
        -webkit-transform: translateY(0) scale(1);
    }
    25% {
        transform: translateY(-50px) scale(1.2);
        -webkit-transform: translateY(-50px) scale(1.2);
    }
    75% {
        transform: translateY(-30px) scale(1.1);
        -webkit-transform: translateY(-30px) scale(1.1);
    }
}
@keyframes fadeIn {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 430px) /*phone*/ {
    /* nav bar */
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-brand {
        margin: 0;
    }
    .nav a {
        font-size: .5rem;
    }


    /* map */
    .guide {
        width: 95vw;
        height: auto;
    }
    .wrapper {
        position: relative;
        top: 9vw;
        width: 100vw;
        padding: 0;
        margin: 0;
        height: 77vw;
    }
    
    /* header text */
    .DistrictOfCavite {
        text-align: center;
        margin: 5vw auto 0vw auto;
        font-size: 8vw;
        font-weight: 900;
        line-height: 8vw;
    }
    .eigth {
        font-size: 9vw;
    }
    .caviteDesc {
        display: none;
    }
    .caviteDescForPhoneContainer {
        position: relative;
        text-align: center;
        display: block;
        width: 100%;
        padding: 0;
        padding-bottom: 3vw;
        justify-content: center;
    }
    .instructionNotePicturesContainer {
        display: block;
    }
    .systemNoteForPhone {
        font-size: 2.75vw;
        padding: 0;
        margin-bottom: 3vw;
    }
    .instructionNotePicturesContainer {
        display: block;
    }
    .instructionForPhone {
        font-size: 3vw;
        color: #fff;
        padding: 0;
        margin-bottom: 2vw;
        padding: 1vw;
        width: 90vw;
    }
    .caviteDescForPhone {
        display: block;
        font-size: 3.5vw;
        color: #1e1e1e;
        padding: 2vw;
        margin-bottom: 0;
        background-color: #ffffff7d;
        border-radius: 20px;
        width: 90vw;
    }
    #carouselExampleFade {
        margin-top: 6vw;
        display: block;
        overflow: hidden;
        border-radius: 15px;
        width: 85vw;
        border-radius: 30px;
        overflow: hidden;
        margin-inline: auto;
    }
    .noteAndInstructionContainer {
        display: block;
        background-color: transparent;
    }

    /* maps */
    .wholeDistrictOfCaviteMap {
        height: 61vw;
        top: 4vw;
        left: -3vw;
    }

    /* drop pins */
    .dropPinAlfonso {
        height: 18vw;
        top: 60vw;
        left: 51vw;
    }
    .dropPinTagaytay {
        height: 18vw;
        top: 58vw;
        left: 78vw;
    }
    .dropPinMendez {
        height: 18vw;
        top: 56vw;
        left: 63vw;
    }
    .dropPinBailen {
        height: 18vw;
        top: 44vw;
        left: 42vw;
    }
    .dropPinMagallanes {
        height: 18vw;
        top: 50vw;
        left: 31vw;
    }
    .dropPinMaragondon {
        height: 18vw;
        top: 34vw;
        left: 30vw;
    }
    .dropPinTernate {
        height: 18vw;
        top: 30vw;
        left: 11vw;
    }
    .dropPinNaic {
        height: 18vw;
        top: 20vw;
        left: 40vw;
    }

    /* modal */
    .modalContent {
        margin: auto;
        margin-top: 80vw;
        width: 90vw;
        border-radius: 30px;
        padding-bottom: 3vw;
    }
    .btnclose {
        margin-right: 5vw;
        font-size: 20px;
    }
    #modalTitle {
        padding: 50vw 5vw 0vw 5vw;
        font-size: 6vw;
        margin-bottom: 0vw;
    }
    #modalDescription {
        padding: 0vw 7vw 0vw 5vw;
        font-weight: 400;
        font-size: 3.5vw;
        margin-bottom: 0vw;
    }
    #modalGoToDestinationList {
        margin-left: 5vw;
        border-radius: 10px;
        font-size: 3vw;
        height: auto;
        padding: 1vw 4vw;
    }
}


@media only screen and (min-width: 431px) and (max-width: 768px) /*tablet*/ {
    /* nav bar */
    .nav a {
        font-size: 1rem;
    }

    /* header text */
    .DistrictOfCavite {
        margin: 3vw auto 0vw auto;
        font-size: 6vw;
        font-weight: 900;
        line-height: 4vw;
    }
    .eigth {
        font-size: 7vw;
    }
    .caviteDesc {
        margin-left: 2vw;
        margin-top: 1vw;
        font-size: 2vw;
        font-weight: 500;
        line-height: 1.75vw;
        width: 50vw;
        border-radius: 0px 0px 100px 0px;
    }
    .caviteDescForPhone {
        font-size: 1.75vw;
    }
    .wrapper {
        height: 53vw;
    }

    /* maps */
    .wholeDistrictOfCaviteMap {
        height: 50vw;
        top: 10vw;
        left: 0vw;
    }

    /* drop pins */
    .dropPinAlfonso {
        height: 13vw;
        top: 57.5vw;
        left: 51.5vw;
    }
    .dropPinTagaytay {
        height: 13vw;
        top: 54.5vw;
        left: 74vw;
    }
    .dropPinMendez {
        height: 13vw;
        top: 52.5vw;
        left: 61vw;
    }
    .dropPinBailen {
        height: 13vw;
        top: 42.5vw;
        left: 43.4vw;
    }
    .dropPinMagallanes {
        height: 13vw;
        top: 47.5vw;
        left: 35vw;
    }
    .dropPinMaragondon {
        height: 13vw;
        top: 33.5vw;
        left: 33vw;
    }
    .dropPinTernate {
        height: 13vw;
        top: 31vw;
        left: 19vw;
    }
    .dropPinNaic {
        height: 13vw;
        top: 24.5vw;
        left: 43.5vw;
    }

    /* modal */
    .modalContent {
        margin-top: 20vw;
        width: 70vw;
        border-radius: 50px;
        padding-bottom: 3vw;
    }
    .btnclose {
        margin-right: 2vw;
        font-size: 35px;
    }
    #modalTitle {
        padding: 30vw 5vw 0vw 5vw;
        font-size: 5vw;
    }
    #modalDescription {
        padding: 0vw 5vw 0vw 5vw;
        font-weight: 400;
        font-size: 2.5vw;
    }
    #modalGoToDestinationList {
        margin-left: 5vw;
        font-size: 2vw;
        padding: .4vw 2.5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) /*small lappy?*/ {
    /* drop pins */
    .dropPinAlfonso {
        top: 33.5vw;
    }
    .dropPinTagaytay {
        top: 30.5vw;
    }
    .dropPinMendez {
        top: 29.5vw;
    }
    .dropPinBailen {
        top: 22.5vw;
    }
    .dropPinMagallanes {
        top: 26.5vw;
    }
    .dropPinMaragondon {
        top: 14.5vw;
    }
    .dropPinTernate {
        top: 13vw;
    }
    .dropPinNaic {
        top: 8.5vw;
    }
}