.blurBg {
    background-color: #467c3296;
}
.routeAndFrontkWrapper {
    background-color: #467c32;
}
.frontWrapper p {
    color: #467c32;
}
.frontWrapper {
    background-color: #467c32;
}
.nearestLandmarkContainer {
    background-color: #467c32;
}
.landmarkNote {
    color: #467c32;
}
.landmarkNote a {
    color: #467c32;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #467c32;
}