.blurBg {
    background-color: #91a55796;
}
.routeAndFrontkWrapper {
    background-color: #91a557;
}
.frontWrapper p {
    color: #547f2b;
}
.frontWrapper {
    background-color: #547f2b;
}
.nearestLandmarkContainer {
    background-color: #547f2b;
}
.landmarkNote {
    color: #547f2b;
}
.landmarkNote a {
    color: #547f2b;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #547f2b;
}