.blurBg {
    background-color: #5b191b96;
}
.routeAndFrontkWrapper {
    background-color: #5b191b;
}

.frontWrapper {
    background-color: #5b191b;
}
.nearestLandmarkContainer {
    background-color: #5b191b;
}
.landmarkNote {
    color: #5b191b;
}
.landmarkNote a {
    color: #5b191b;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #5b191b;
}