.blurBg {
    background-color: #0d280d96;
}
.routeAndFrontkWrapper {
    background-color: #0d280d;
}

.frontWrapper {
    background-color: #0d280d;
}
.nearestLandmarkContainer {
    background-color: #0d280d;
}
.landmarkNote {
    color: #0d280d;
}
.landmarkNote a {
    color: #0d280d;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #0d280d;
}