.blurBg {
    background-color: #1b1c1b96;
}
.routeAndFrontkWrapper {
    background-color: #1b1c1b;
}
.frontWrapper p {
    color: #1b1c1b;
}
.frontWrapper {
    background-color: #1b1c1b;
}
.nearestLandmarkContainer {
    background-color: #1b1c1b;
}
.landmarkNote {
    color: #1b1c1b;
}
.landmarkNote a {
    color: #1b1c1b;
}
.topBtn {
    background-color: #1b1c1b;
}
