.blurBg {
    background-color: #5fa65296;
}
.routeAndFrontkWrapper {
    background-color: #5fa652;
}
.frontWrapper p {
    color: #5fa652
}
.frontWrapper {
    background-color: #5fa652;
}
.nearestLandmarkContainer {
    background-color: #5fa652;
}
.landmarkNote {
    color: #5fa652;
}
.landmarkNote a {
    color: #5fa652;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #5fa652;
}