.blurBg {
    background-color: #5c8a3e96;
}
.routeAndFrontkWrapper {
    background-color: #5c8a3e;
}
.frontWrapper p {
    color: #5c8a3e
}
.frontWrapper {
    background-color: #5c8a3e;
}
.nearestLandmarkContainer {
    background-color: #5c8a3e;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #5c8a3e;
}