.blurBg {
    background-color: #74813396;
}
.routeAndFrontkWrapper {
    background-color: #748133;
}
.frontWrapper {
    background-color: #748133;
}
.nearestLandmarkContainer {
    background-color: #748133;
}
.landmarkNote {
    color: #748133;
}
.landmarkNote a {
    color: #748133;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #748133;
}