.blurBg {
    background-color: #59bece96;
}
.routeAndFrontkWrapper {
    background-color: #59bece;
}
.frontWrapper {
    background-color: #59bece;
}
.nearestLandmarkContainer {
    background-color: #59bece;
}
.landmarkNote {
    color: #59bece;
}
.landmarkNote a {
    color: #59bece;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #59bece;
}