.blurBg {
    background-color: #619f1896;
}
.routeAndFrontkWrapper {
    background-color: #619f18;
}
.frontWrapper p {
    color: #619f18
}
.frontWrapper {
    background-color: #619f18;
}
.nearestLandmarkContainer {
    background-color: #619f18;
}
.landmarkNote {
    color: #619f18;
}
.landmarkNote a {
    color: #619f18;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #619f18;
}