.blurBg {
    background-color: #ce6c2796;
}
.routeAndFrontkWrapper {
    background-color: #ce6c27;
}
.frontWrapper p {
    color: #ce6c27;
}
.frontWrapper {
    background-color: #ce6c27;
}
.nearestLandmarkContainer {
    background-color: #ce6c27;
}
.landmarkNote {
    color: #ce6c27;
}
.landmarkNote a {
    color: #ce6c27;
}
.topBtn {
    background-color: #ce6c27;
}