.blurBg {
    background-color: #ce6c2792;
}
.routeAndFrontkWrapper {
    background-color: #ce6c27;
}
.frontWrapper p {
    color: #ce6c27
}
#accordion .card-header {
    background-color: #ce6c27;
}
#accordion .card-body {
    background-color: #ce6c27e0;
}
.topBtn {
    background-color: #ce6c27;
}