.blurBg {
    background-color: #9c121292;
}
.routeAndFrontkWrapper {
    background-color: #9c1212;
}
.frontWrapper p {
    color: #9c1212
}
#accordion .card-header {
    background-color: #9c1212;
}
#accordion .card-body {
    background-color: #9c1212e0;
}
.topBtn {
    background-color: #9c1212;
}