.blurBg {
    background-color: #9c121296;
}
.routeAndFrontkWrapper {
    background-color: #9c1212;
}
.frontWrapper p {
    color: #9c1212;
}
.frontWrapper {
    background-color: #9c1212;
}
.nearestLandmarkContainer {
    background-color: #9c1212;
}
.landmarkNote {
    color: #9c1212;
}
.landmarkNote a {
    color: #9c1212;
}
.topBtn {
    background-color: #9c1212;
}