.blurBg {
    background-color: #02052a96;
}
.routeAndFrontkWrapper {
    background-color: #02052a;
}
.frontWrapper {
    background-color: #02052a;
}
.nearestLandmarkContainer {
    background-color: #02052a;
}
.landmarkNote {
    color: #02052a;
}
.landmarkNote a {
    color: #02052a;
}
.topBtn {
    background-color: #02052a;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #02052a;
}
.otherBranchesWrapper {
    border-color: #02052a;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #02052a;
}