.blurBg {
    background-color: #96131396;
}
.routeAndFrontkWrapper {
    background-color: #961313;
}
.frontWrapper p {
    color: #961313;
}
.frontWrapper {
    background-color: #961313;
}
.nearestLandmarkContainer {
    background-color: #961313;
}
.landmarkNote {
    color: #961313;
}
.landmarkNote a {
    color: #961313;
}
.topBtn {
    background-color: #961313;
}