.blurBg {
    background-color: #cb262692;
}
.routeAndFrontkWrapper {
    background-color: #cb2626;
}
.frontWrapper p {
    color: #cb2626
}
#accordion .card-header {
    background-color: #cb2626;
}
#accordion .card-body {
    background-color: #cb2626e0;
}
.topBtn {
    background-color: #cb2626;
}