.blurBg {
    background-color: #cb262696;
}
.routeAndFrontkWrapper {
    background-color: #cb2626;
}
.frontWrapper {
    background-color: #cb2626;
}
.nearestLandmarkContainer {
    background-color: #cb2626;
}
.landmarkNote {
    color: #cb2626;
}
.landmarkNote a {
    color: #cb2626;
}
.topBtn {
    background-color: #cb2626;
}