.blurBg {
    background-color: #8ab05796;
}
.routeAndFrontkWrapper {
    background-color: #8ab057;
}
.frontWrapper p {
    color: #8ab057;
}
.frontWrapper {
    background-color: #8ab057;
}
.nearestLandmarkContainer {
    background-color: #8ab057;
}
.landmarkNote {
    color: #8ab057;
}
.landmarkNote a {
    color: #8ab057;
}
.topBtn {
    background-color: #8ab057e0;
}