.blurBg {
    background-color: #0e135696;
}
.routeAndFrontkWrapper {
    background-color: #0e1356;
}
.frontWrapper {
    background-color: #0e1356;
}
.nearestLandmarkContainer {
    background-color: #0e1356;
}
.landmarkNote {
    color: #0e1356;
}
.landmarkNote a {
    color: #0e1356;
}
.topBtn {
    background-color: #0e1356;
}