.blurBg {
    background-color: #4e724096;
}
.routeAndFrontkWrapper {
    background-color: #4e7240;
}
.frontWrapper {
    background-color: #4e7240;
}
.nearestLandmarkContainer {
    background-color: #4e7240;
}
.landmarkNote {
    color: #4e7240;
}
.landmarkNote a {
    color: #4e7240;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #4e7240;
}