.blurBg {
    background-color: #666a3896;
}
.routeAndFrontkWrapper {
    background-color: #666a38;
}
.frontWrapper p {
    color: #666a38;
}
.frontWrapper {
    background-color: #666a38;
}
.nearestLandmarkContainer {
    background-color: #666a38;
}
.landmarkNote {
    color: #666a38;
}
.landmarkNote a {
    color: #666a38;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #666a38;
}