.blurBg {
    background-color: #89992e96;
}
.routeAndFrontkWrapper {
    background-color: #89992e;
}
.frontWrapper p {
    color: #89992e;
}
.frontWrapper {
    background-color: #89992e;
}
.nearestLandmarkContainer {
    background-color: #89992e;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #89992e;
}