.blurBg {
    background-color: #bff82a96;
}
.routeAndFrontkWrapper {
    background-color: #bff82a;
}
.frontWrapper p {
    color: #bff82a;
}
.frontWrapper {
    background-color: #bff82a;
}
.nearestLandmarkContainer {
    background-color: #bff82a;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #bff82a;
}