.blurBg {
    background-color: #78b21e96;
}
.routeAndFrontkWrapper {
    background-color: #78b21e;
}
.frontWrapper p {
    color: #78b21e;
}
.frontWrapper {
    background-color: #78b21e;
}
.nearestLandmarkContainer {
    background-color: #78b21e;
}
.landmarkNote {
    color: #78b21e;
}
.landmarkNote a {
    color: #78b21e;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #78b21e;
}