.blurBg {
    background-color: #e0121296;
}
.routeAndFrontkWrapper {
    background-color: #e01212;
}
.frontWrapper p {
    color: #e01212;
}
.frontWrapper {
    background-color: #e01212;
}
.nearestLandmarkContainer {
    background-color: #e01212;
}
.landmarkNote {
    color: #e01212;
}
.landmarkNote a {
    color: #e01212;
}
.topBtn {
    background-color: #e01212;
}