.blurBg {
    background-color: #e0121292;
}
.routeAndFrontkWrapper {
    background-color: #e01212;
}
.frontWrapper p {
    color: #e01212
}
#accordion .card-header {
    background-color: #e01212;
}
#accordion .card-body {
    background-color: #e01212e0;
}
.topBtn {
    background-color: #e01212;
}