.blurBg {
    background-color: #8a704f96;
}
.routeAndFrontkWrapper {
    background-color: #8a704f;
}
.frontWrapper p {
    color: #8a704f;
}
.frontWrapper {
    background-color: #8a704f;
}
.nearestLandmarkContainer {
    background-color: #8a704f;
}
.landmarkNote {
    color: #8a704f;
}
.landmarkNote a {
    color: #8a704f;
}
.topBtn {
    background-color: #8a704f;
}