.blurBg {
    background-color: #507c4c96;
}
.routeAndFrontkWrapper {
    background-color: #507c4c;
}
.frontWrapper p {
    color: #507c4c;
}
.frontWrapper {
    background-color: #507c4c;
}
.nearestLandmarkContainer {
    background-color: #507c4c;
}
.landmarkNote {
    color: #507c4c;
}
.landmarkNote a {
    color: #507c4c;
}
.topBtn {
    background-color: #507c4c;
}
