.blurBg {
    background-color: #507c4c92;
}
.routeAndFrontkWrapper {
    background-color: #507c4c;
}
.frontWrapper p {
    color: #507c4c
}
#accordion .card-header {
    background-color: #507c4c;
}
#accordion .card-body {
    background-color: #507c4ce0;
}
.topBtn {
    background-color: #507c4c;
}
