.blurBg {
    background-color: #32594896;
}
.routeAndFrontkWrapper {
    background-color: #325948;
}
.frontWrapper p {
    color: #325948;
}
.frontWrapper {
    background-color: #325948;
}
.nearestLandmarkContainer {
    background-color: #325948;
}
.landmarkNote {
    color: #325948;
}
.landmarkNote a {
    color: #325948;
}
.topBtn {
    background-color: #325948;
}