.blurBg {
    background-color: #766c5e96;
}
.routeAndFrontkWrapper {
    background-color: #766c5e;
}
.frontWrapper p {
    color: #766c5e;
}
.frontWrapper {
    background-color: #766c5e;
}
.nearestLandmarkContainer {
    background-color: #766c5e;
}
.landmarkNote {
    color: #766c5e;
}
.landmarkNote a {
    color: #766c5e;
}
.topBtn {
    background-color: #766c5e;
}