.blurBg {
    background-color: #766c5e92;
}
.routeAndFrontkWrapper {
    background-color: #766c5e;
}
.frontWrapper p {
    color: #766c5e;
}
#accordion .card-header {
    background-color: #766c5e;
}
#accordion .card-body {
    background-color: #766c5ee0;
}
.topBtn {
    background-color: #766c5e;
}