.blurBg {
    background-color: #708a7a92;
}
.routeAndFrontkWrapper {
    background-color: #708a7a;
}
.frontWrapper p {
    color: #708a7a;
}
#accordion .card-header {
    background-color: #708a7a;
}
#accordion .card-body {
    background-color: #708a7ae0;
}
.topBtn {
    background-color: #708a7a;
}
