.blurBg {
    background-color: #708a7a96;
}
.routeAndFrontkWrapper {
    background-color: #708a7a;
}
.frontWrapper p {
    color: #708a7a;
}
.frontWrapper {
    background-color: #708a7a;
}
.nearestLandmarkContainer {
    background-color: #708a7a;
}
.landmarkNote {
    color: #708a7a;
}
.landmarkNote a {
    color: #708a7a;
}
.topBtn {
    background-color: #708a7a;
}
