.blurBg {
    background-color: #0a250896;
}
.routeAndFrontkWrapper {
    background-color: #0a2508;
}
.frontWrapper p {
    color: #0a2508;
}
.frontWrapper {
    background-color: #0a2508;
}
.nearestLandmarkContainer {
    background-color: #0a2508;
}
.landmarkNote {
    color: #0a2508;
}
.landmarkNote a {
    color: #0a2508;
}
.topBtn {
    background-color: #0a2508;
}
