.blurBg {
    background-color: #026cb696;
}
.routeAndFrontkWrapper {
    background-color: #026cb6;
}
.frontWrapper p {
    color: #026cb6;
}
.frontWrapper {
    background-color: #026cb6;
}
.nearestLandmarkContainer {
    background-color: #026cb6;
}
.landmarkNote {
    color: #026cb6;
}
.landmarkNote a {
    color: #026cb6;
}
.topBtn {
    background-color: #026cb6;
}