.blurBg {
    background-color: #026cb692;
}
.routeAndFrontkWrapper {
    background-color: #026cb6;
}
.frontWrapper p {
    color: #026cb6;
}
#accordion .card-header {
    background-color: #026cb6;
}
#accordion .card-body {
    background-color: #026cb6e0;
}
.topBtn {
    background-color: #026cb6;
}