.blurBg {
    background-color: #b3bbbf92;
}
.routeAndFrontkWrapper {
    background-color: #b3bbbf;
}
.frontWrapper p {
    color: #b3bbbf;
}
#accordion .card-header {
    background-color: #b3bbbf;
}
#accordion .card-body {
    background-color: #b3bbbfe0;
}
.topBtn {
    background-color: #b3bbbf;
}