.blurBg {
    background-color: #b3bbbf96;
}
.routeAndFrontkWrapper {
    background-color: #b3bbbf;
}
.frontWrapper p {
    color: #b3bbbf;
}
.frontWrapper {
    background-color: #b3bbbf;
}
.nearestLandmarkContainer {
    background-color: #b3bbbf;
}
.landmarkNote {
    color: #b3bbbf;
}
.landmarkNote a {
    color: #b3bbbf;
}
.topBtn {
    background-color: #b3bbbf;
}