.blurBg {
    background-color: #b3986896;
}
.routeAndFrontkWrapper {
    background-color: #b39868;
}
.frontWrapper p {
    color: #b39868;
}
.frontWrapper {
    background-color: #b39868;
}
.nearestLandmarkContainer {
    background-color: #b39868;
}
.landmarkNote {
    color: #b39868;
}
.landmarkNote a {
    color: #b39868;
}
.topBtn {
    background-color: #b39868;
}