.blurBg {
    background-color: #b3986892;
}
.routeAndFrontkWrapper {
    background-color: #b39868;
}
.frontWrapper p {
    color: #b39868;
}
#accordion .card-header {
    background-color: #b39868;
}
#accordion .card-body {
    background-color: #b39868e0;
}
.topBtn {
    background-color: #b39868;
}