.blurBg {
    background-color: #92ad4396;
}
.routeAndFrontkWrapper {
    background-color: #92ad43;
}
.frontWrapper {
    background-color: #92ad43;
}
.nearestLandmarkContainer {
    background-color: #92ad43;
}
.landmarkNote {
    color: #92ad43;
}
.landmarkNote a {
    color: #92ad43;
}
.topBtn {
    background-color: #92ad43;
}