.blurBg {
    background-color: #92ad4392;
}
.routeAndFrontkWrapper {
    background-color: #92ad43;
}
.frontWrapper p {
    color: #92ad43;
}
#accordion .card-header {
    background-color: #92ad43;
}
#accordion .card-body {
    background-color: #92ad43e0;
}
.topBtn {
    background-color: #92ad43;
}