.blurBg {
    background-color: #d0ab8796;
}
.routeAndFrontkWrapper {
    background-color: #d0ab87;
}
.frontWrapper p {
    color: #d0ab87;
}
.frontWrapper {
    background-color: #d0ab87;
}
.nearestLandmarkContainer {
    background-color: #d0ab87;
}
.landmarkNote {
    color: #d0ab87;
}
.landmarkNote a {
    color: #d0ab87;
}
.topBtn {
    background-color: #d0ab87;
}