.blurBg {
    background-color: #080a0896;
}
.routeAndFrontkWrapper {
    background-color: #080a08;
}
.frontWrapper {
    background-color: #080a08;
}
.nearestLandmarkContainer {
    background-color: #080a08;
}
.landmarkNote {
    color: #080a08;
}
.landmarkNote a {
    color: #080a08;
}
.topBtn {
    background-color: #080a08;
}
