.blurBg {
    background-color: #dca67e92;
}
.routeAndFrontkWrapper {
    background-color: #dca67e;
}
.frontWrapper p {
    color: #dca67e;
}
#accordion .card-header {
    background-color: #dca67e;
}
#accordion .card-body {
    background-color: #dca67ee0;
}
.topBtn {
    background-color: #dca67e;
}