.blurBg {
    background-color: #dca67e96;
}
.routeAndFrontkWrapper {
    background-color: #dca67e;
}
.frontWrapper p {
    color: #dca67e;
}
.frontWrapper {
    background-color: #dca67e;
}
.nearestLandmarkContainer {
    background-color: #dca67e;
}
.landmarkNote {
    color: #dca67e;
}
.landmarkNote a {
    color: #dca67e;
}
.topBtn {
    background-color: #dca67e;
}