.blurBg {
    background-color: #27282b92;
}
.routeAndFrontkWrapper {
    background-color: #27282b;
}
.frontWrapper p {
    color: #27282b;
}
 #accordion .card-header {
    background-color: #27282b;
}
#accordion .card-body {
    background-color: #27282be0;
}
.topBtn {
    background-color: #27282b;
}
