.blurBg {
    background-color: #27282b96;
}
.routeAndFrontkWrapper {
    background-color: #27282b;
}
.frontWrapper p {
    color: #27282b;
}
.frontWrapper {
    background-color: #27282b;
}
.nearestLandmarkContainer {
    background-color: #27282b;
}
.landmarkNote {
    color: #27282b;
}
.landmarkNote a {
    color: #27282b;
}
.topBtn {
    background-color: #27282b;
}
