.blurBg {
    background-color: #d1bca096;
}
.routeAndFrontkWrapper {
    background-color: #d1bca0;
}
.frontWrapper p {
    color: #d1bca0;
}
.frontWrapper {
    background-color: #d1bca0;
}
.nearestLandmarkContainer {
    background-color: #d1bca0;
}
.landmarkNote {
    color: #d1bca0;
}
.landmarkNote a {
    color: #d1bca0;
}
.topBtn {
    background-color: #d1bca0;
}
