.blurBg {
    background-color: #a46c5696;
}
.routeAndFrontkWrapper {
    background-color: #a46c56;
}
.frontWrapper {
    background-color: #a46c56;
}
.nearestLandmarkContainer {
    background-color: #a46c56;
}
.landmarkNote {
    color: #a46c56;
}
.landmarkNote a {
    color: #a46c56;
}
.topBtn {
    background-color: #a46c56;
}