.blurBg {
    background-color: #a46c5692;
}
.routeAndFrontkWrapper {
    background-color: #a46c56;
}
.frontWrapper p {
    color: #a46c56;
}
#accordion .card-header {
    background-color: #a46c56;
}
#accordion .card-body {
    background-color: #a46c56e0;
}
.topBtn {
    background-color: #a46c56;
}