.blurBg {
    background-color: #d6beb592;
}
.routeAndFrontkWrapper {
    background-color: #d6beb5;
}
.frontWrapper p {
    color: #d6beb5;
}
#accordion .card-header {
    background-color: #d6beb5;
}
#accordion .card-body {
    background-color: #d6beb5e0;
}
.topBtn {
    background-color: #d6beb5;
}