.blurBg {
    background-color: #909f5c96;
}
.routeAndFrontkWrapper {
    background-color: #909f5c;
}
.frontWrapper {
    background-color: #909f5c;
}
.nearestLandmarkContainer {
    background-color: #909f5c;
}
.landmarkNote {
    color: #909f5c;
}
.landmarkNote a {
    color: #909f5c;
}
.topBtn {
    background-color: #909f5c;
}