.blurBg {
    background-color: #0fa68696;
}
.routeAndFrontkWrapper {
    background-color: #0fa686;
}
.frontWrapper p {
    color: #0fa686;
}
.frontWrapper {
    background-color: #0fa686;
}
.nearestLandmarkContainer {
    background-color: #0fa686;
}
.landmarkNote {
    color: #0fa686;
}
.landmarkNote a {
    color: #0fa686;
}
.topBtn {
    background-color: #0fa686;
}