.blurBg {
    background-color: #d6beb596;
}
.routeAndFrontkWrapper {
    background-color: #d6beb5;
}
.frontWrapper p {
    color: #d6beb5;
}
.frontWrapper {
    background-color: #d6beb5;
}
.nearestLandmarkContainer {
    background-color: #d6beb5;
}
.landmarkNote {
    color: #d6beb5;
}
.landmarkNote a {
    color: #d6beb5;
}
.topBtn {
    background-color: #d6beb5;
}