.blurBg {
    background-color: #909f5c92;
}
.routeAndFrontkWrapper {
    background-color: #909f5c;
}
.frontWrapper p {
    color: #909f5c;
}
#accordion .card-header {
    background-color: #909f5c;
}
#accordion .card-body {
    background-color: #909f5ce0;
}
.topBtn {
    background-color: #909f5c;
}