.blurBg {
    background-color: #93918e96;
}
.routeAndFrontkWrapper {
    background-color: #93918e;
}
.frontWrapper p {
    color: #93918e;
}
.frontWrapper {
    background-color: #93918e;
}
.nearestLandmarkContainer {
    background-color: #93918e;
}
.landmarkNote {
    color: #93918e;
}
.landmarkNote a {
    color: #93918e;
}
.topBtn {
    background-color: #93918e;
}