.blurBg {
    background-color: #93918e92;
}
.routeAndFrontkWrapper {
    background-color: #93918e;
}
.frontWrapper p {
    color: #93918e;
}
#accordion .card-header {
    background-color: #93918e;
}
#accordion .card-body {
    background-color: #93918ee0;
}
.topBtn {
    background-color: #93918e;
}