.blurBg {
    background-color: #a69b6792;
}
.routeAndFrontkWrapper {
    background-color: #a69b67;
}
.frontWrapper p {
    color: #a69b67;
}
#accordion .card-header {
    background-color: #a69b67;
}
#accordion .card-body {
    background-color: #a69b67e0;
}
.topBtn {
    background-color: #a69b67;
}