.blurBg {
    background-color: #a69b6796;
}
.routeAndFrontkWrapper {
    background-color: #a69b67;
}
.frontWrapper {
    background-color: #a69b67;
}
.nearestLandmarkContainer {
    background-color: #a69b67;
}
.landmarkNote {
    color: #a69b67;
}
.landmarkNote a {
    color: #a69b67;
}
.topBtn {
    background-color: #a69b67;
}