.blurBg {
    background-color: #70884a96;
}
.routeAndFrontkWrapper {
    background-color: #70884a;
}
.frontWrapper p {
    color: #70884a;
}
.frontWrapper {
    background-color: #70884a;
}
.nearestLandmarkContainer {
    background-color: #70884a;
}
.landmarkNote {
    color: #70884a;
}
.landmarkNote a {
    color: #70884a;
}
.topBtn {
    background-color: #70884a;
}