.blurBg {
    background-color: #78533592;
}
.routeAndFrontkWrapper {
    background-color: #785335;
}
.frontWrapper p {
    color: #785335;
}
#accordion .card-header {
    background-color: #785335;
}
#accordion .card-body {
    background-color: #785335e0;
}
.topBtn {
    background-color: #785335;
}