.blurBg {
    background-color: #78533596;
}
.routeAndFrontkWrapper {
    background-color: #785335;
}
.frontWrapper p {
    color: #785335;
}
.frontWrapper {
    background-color: #785335;
}
.nearestLandmarkContainer {
    background-color: #785335;
}
.landmarkNote {
    color: #785335;
}
.landmarkNote a {
    color: #785335;
}
.topBtn {
    background-color: #785335;
}