.blurBg {
    background-color: #807d5296;
}
.routeAndFrontkWrapper {
    background-color: #807d52;
}
.frontWrapper p {
    color: #807d52;
}
.frontWrapper {
    background-color: #807d52;
}
.nearestLandmarkContainer {
    background-color: #807d52;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #807d52;
}
.topBtn {
    background-color: #807d52;
}