.blurBg {
    background-color: #eec69496;
}
.routeAndFrontkWrapper {
    background-color: #eec694;
}
.frontWrapper p {
    color: #eec694;
}
.frontWrapper {
    background-color: #eec694;
}
.nearestLandmarkContainer {
    background-color: #eec694;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #eec694;
}