.blurBg {
    background-color: #b5795d96;
}
.routeAndFrontkWrapper {
    background-color: #b5795d;
}
.frontWrapper {
    background-color: #b5795d;
}
.nearestLandmarkContainer {
    background-color: #b5795d;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #b5795d;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #b5795d;
}
.otherBranchesWrapper {
    border-color: #b5795d;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #b5795d;
}