.blurBg {
    background-color: #1c212496;
}
.routeAndFrontkWrapper {
    background-color: #1c2124;
}
.frontWrapper p {
    color: #1c2124
}
.frontWrapper {
    background-color: #1c2124;
}
.nearestLandmarkContainer {
    background-color: #1c2124;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #1c2124;
}