.blurBg {
    background-color: #394f0596;
}
.routeAndFrontkWrapper {
    background-color: #394f05;
}
.frontWrapper p {
    color: #394f05
}
.frontWrapper {
    background-color: #394f05;
}
.nearestLandmarkContainer {
    background-color: #394f05;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #394f05;
}