.blurBg {
    background-color: #af6d3096;
}
.routeAndFrontkWrapper {
    background-color: #af6d30;
}
.frontWrapper p {
    color: #af6d30
}
.frontWrapper {
    background-color: #af6d30;
}
.nearestLandmarkContainer {
    background-color: #af6d30;
}
.landmarkNote {
    color: #af6d30;
}
.landmarkNote a {
    color: #af6d30;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #af6d30;
}