.blurBg {
    background-color: #c7966396;
}
.routeAndFrontkWrapper {
    background-color: #c79663;
}
.frontWrapper {
    background-color: #c79663;
}
.nearestLandmarkContainer {
    background-color: #c79663;
}
.landmarkNote {
    color: #c79663;
}
.landmarkNote a {
    color: #c79663;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #c79663;
}