.blurBg {
    background-color: #86385896;
}
.routeAndFrontkWrapper {
    background-color: #863858;
}
.frontWrapper p {
    color: #863858
}
.frontWrapper {
    background-color: #863858;
}
.nearestLandmarkContainer {
    background-color: #863858;
}
.landmarkNote {
    color: #863858;
}
.landmarkNote a {
    color: #863858;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #863858;
}