.blurBg {
    background-color: #747e9796;
}
.routeAndFrontkWrapper {
    background-color: #747e97;
}
.frontWrapper p {
    color: #747e97
}
.frontWrapper {
    background-color: #747e97;
}
.nearestLandmarkContainer {
    background-color: #747e97;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #747e97;
}