.blurBg {
    background-color: #445b2f96;
}
.routeAndFrontkWrapper {
    background-color: #445b2f;
}
.frontWrapper p {
    color: #445b2f
}
.frontWrapper {
    background-color: #445b2f;
}
.nearestLandmarkContainer {
    background-color: #445b2f;
}
.landmarkNote {
    color: #445b2f;
}
.landmarkNote a {
    color: #445b2f;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #445b2f;
}