.blurBg {
    background-color: #b99a6296;
}
.routeAndFrontkWrapper {
    background-color: #b99a62;
}
.frontWrapper {
    background-color: #b99a62;
}
.nearestLandmarkContainer {
    background-color: #b99a62;
}
.landmarkNote {
    color: #b99a62;
}
.landmarkNote a {
    color: #b99a62;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #b99a62;
}