.blurBg {
    background-color: #5d762396;
}
.routeAndFrontkWrapper {
    background-color: #5d7623;
}
.frontWrapper p {
    color: #5d7623;
}
.frontWrapper {
    background-color: #5d7623;
}
.nearestLandmarkContainer {
    background-color: #5d7623;
}
.landmarkNote {
    color: #5d7623;
}
.landmarkNote a {
    color: #5d7623;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #5d7623;
}