.blurBg {
    background-color: #07295b96;
}
.routeAndFrontkWrapper {
    background-color: #07295b;
}
.frontWrapper {
    background-color: #07295b;
}
.nearestLandmarkContainer {
    background-color: #07295b;
}
.landmarkNote {
    color: #07295b;
}
.landmarkNote a {
    color: #07295b;
}
.topBtn {
    background-color: #07295b;
}