.blurBg {
    background-color: #07295b92;
}
.routeAndFrontkWrapper {
    background-color: #07295b;
}
.frontWrapper p {
    color: #07295b
}
#accordion .card-header {
    background-color: #07295b;
}
#accordion .card-body {
    background-color: #07295be0;
}
.topBtn {
    background-color: #07295b;
}