.blurBg {
    background-color: #3e210896;
}
.routeAndFrontkWrapper {
    background-color: #3e2108;
}
.frontWrapper {
    background-color: #3e2108;
}
.nearestLandmarkContainer {
    background-color: #3e2108;
}
.landmarkNote {
    color: #3e2108;
}
.landmarkNote a {
    color: #3e2108;
}
.topBtn {
    background-color: #3e2108;
}