.blurBg {
    background-color: #6b060692;
}
.routeAndFrontkWrapper {
    background-color: #6b0606;
}
.frontWrapper p {
    color: #6b0606
}
#accordion .card-header {
    background-color: #6b0606;
}
#accordion .card-body {
    background-color: #6b0606e0;
}
.topBtn {
    background-color: #6b0606;
}