.blurBg {
    background-color: #6b060696;
}
.routeAndFrontkWrapper {
    background-color: #6b0606;
}
.frontWrapper {
    background-color: #6b0606;
}
.nearestLandmarkContainer {
    background-color: #6b0606;
}
.landmarkNote {
    color: #6b0606;
}
.landmarkNote a {
    color: #6b0606;
}
.topBtn {
    background-color: #6b0606;
}