
.blurBg {
    background-color: #1b85bd92;
}
.routeAndFrontkWrapper {
    background-color: #1b85bd;
}
.frontWrapper p {
    color: #1b85bd
}
#accordion .card-header {
    background-color: #1b85bd;
}
#accordion .card-body {
    background-color: #1b85bde0;
}
.topBtn {
    background-color: #1b85bd;
}