.blurBg {
    background-color: #1b85bd96;
}
.routeAndFrontkWrapper {
    background-color: #1b85bd;
}
.frontWrapper p {
    color: #1b85bd;
}
.frontWrapper {
    background-color: #1b85bd;
}
.nearestLandmarkContainer {
    background-color: #1b85bd;
}
.landmarkNote {
    color: #1b85bd;
}
.landmarkNote a {
    color: #1b85bd;
}
.topBtn {
    background-color: #1b85bd;
}