.blurBg {
    background-color: #7e6b6292;
}
.routeAndFrontkWrapper {
    background-color: #7e6b62;
}
.frontWrapper p {
    color: #7e6b62;
}
#accordion .card-header {
    background-color: #7e6b62;
}
#accordion .card-body {
    background-color: #7e6b62e0;
}
.topBtn {
    background-color: #7e6b62;
}