.blurBg {
    background-color: #7e6b6296;
}
.routeAndFrontkWrapper {
    background-color: #7e6b62;
}
.frontWrapper {
    background-color: #7e6b62;
}
.nearestLandmarkContainer {
    background-color: #7e6b62;
}
.landmarkNote {
    color: #7e6b62;
}
.landmarkNote a {
    color: #7e6b62;
}
.topBtn {
    background-color: #7e6b62;
}