.blurBg {
    background-color: #b3a37296;
}
.routeAndFrontkWrapper {
    background-color: #b3a372;
}
.frontWrapper p {
    color: #b3a372;
}
.frontWrapper {
    background-color: #b3a372;
}
.nearestLandmarkContainer {
    background-color: #b3a372;
}
.landmarkNote {
    color: #b3a372;
}
.landmarkNote a {
    color: #b3a372;
}
.topBtn {
    background-color: #b3a372;
}