.blurBg {
    background-color: #101f0096;
}
.routeAndFrontkWrapper {
    background-color: #101f00;
}
.frontWrapper {
    background-color: #101f00;
}
.nearestLandmarkContainer {
    background-color: #101f00;
}
.landmarkNote {
    color: #101f00;
}
.landmarkNote a {
    color: #101f00;
}
.topBtn {
    background-color: #101f00;
}