.blurBg {
    background-color: #bfa97e96;
}
.routeAndFrontkWrapper {
    background-color: #bfa97e;
}
.frontWrapper p {
    color: #bfa97e;
}
.frontWrapper {
    background-color: #bfa97e;
}
.nearestLandmarkContainer {
    background-color: #bfa97e;
}
.landmarkNote {
    color: #bfa97e;
}
.landmarkNote a {
    color: #bfa97e;
}
.topBtn {
    background-color: #bfa97e;
}