.blurBg {
    background-color: #034f7696;
}
.routeAndFrontkWrapper {
    background-color: #034f76;
}
.frontWrapper p {
    color: #034f76;
}
.frontWrapper {
    background-color: #034f76;
}
.nearestLandmarkContainer {
    background-color: #034f76;
}
.landmarkNote {
    color: #034f76;
}
.landmarkNote a {
    color: #034f76;
}
.topBtn {
    background-color: #034f76;
}