.blurBg {
    background-color: #907a6796;
}
.routeAndFrontkWrapper {
    background-color: #907a67;
}
.frontWrapper p {
    color: #907a67;
}
.frontWrapper {
    background-color: #907a67;
}
.nearestLandmarkContainer {
    background-color: #907a67;
}
.landmarkNote {
    color: #907a67;
}
.landmarkNote a {
    color: #907a67;
}
.topBtn {
    background-color: #907a67;
}