.blurBg {
    background-color: #4e600d92;
}
.routeAndFrontkWrapper {
    background-color: #4e600d;
}
.frontWrapper p {
    color: #4e600d;
}
#accordion .card-header {
    background-color: #4e600d;
}
#accordion .card-body {
    background-color: #4e600de0;
}
.topBtn {
    background-color: #4e600d;
}