.blurBg {
    background-color: #77813c96;
}
.routeAndFrontkWrapper {
    background-color: #77813c;
}
.frontWrapper p {
    color: #77813c;
}
.frontWrapper {
    background-color: #77813c;
}
.nearestLandmarkContainer {
    background-color: #77813c;
}
.landmarkNote {
    color: #77813c;
}
.landmarkNote a {
    color: #77813c;
}
.topBtn {
    background-color: #77813c;
}