.blurBg {
    background-color: #581f1396;
}
.routeAndFrontkWrapper {
    background-color: #581f13;
}
.frontWrapper p {
    color: #581f13;
}
.frontWrapper {
    background-color: #581f13;
}
.nearestLandmarkContainer {
    background-color: #581f13;
}
.landmarkNote {
    color: #581f13;
}
.landmarkNote a {
    color: #581f13;
}
.topBtn {
    background-color: #581f13;
}