.blurBg {
    background-color: #581f1392;
}
.routeAndFrontkWrapper {
    background-color: #581f13;
}
.frontWrapper p {
    color: #581f13;
}
#accordion .card-header {
    background-color: #581f13;
}
#accordion .card-body {
    background-color: #581f13e0;
}
.topBtn {
    background-color: #581f13;
}