.blurBg {
    background-color: #26433d92;
}
.routeAndFrontkWrapper {
    background-color: #26433d;
}
.frontWrapper p {
    color: #26433d;
}
#accordion .card-header {
    background-color: #26433d;
}
#accordion .card-body {
    background-color: #26433de0;
}
.topBtn {
    background-color: #26433d;
}