.blurBg {
    background-color: #c3a57496;
}
.routeAndFrontkWrapper {
    background-color: #c3a574;
}
.frontWrapper p {
    color: #c3a574;
}
.frontWrapper {
    background-color: #c3a574;
}
.nearestLandmarkContainer {
    background-color: #c3a574;
}
.landmarkNote {
    color: #c3a574;
}
.landmarkNote a {
    color: #c3a574;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #c3a574;
}
