.blurBg {
    background-color: #f4b44496;
}
.routeAndFrontkWrapper {
    background-color: #f4b444;
}
.frontWrapper p {
    color: #f4b444;
}
.frontWrapper {
    background-color: #f4b444;
}
.nearestLandmarkContainer {
    background-color: #f4b444;
}
.landmarkNote {
    color: #f4b444;
}
.landmarkNote a {
    color: #f4b444;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #f4b444;
}
