.blurBg {
    background-color: #8a704f92;
}
.routeAndFrontkWrapper {
    background-color: #8a704f;
}
.frontWrapper p {
    color: #8a704f;
}
#accordion .card-header {
    background-color: #8a704f;
}
#accordion .card-body {
    background-color: #8a704fe0;
}
.topBtn {
    background-color: #8a704f;
}