.blurBg {
    background-color: #32594892;
}
.routeAndFrontkWrapper {
    background-color: #325948;
}
.frontWrapper p {
    color: #325948;
}
#accordion .card-header {
    background-color: #325948;
}
#accordion .card-body {
    background-color: #325948e0;
}
.topBtn {
    background-color: #325948;
}