.blurBg {
    background-color: #080a0892;
}
.routeAndFrontkWrapper {
    background-color: #080a08;
}
.frontWrapper p {
    color: #080a08;
}
 #accordion .card-header {
    background-color: #080a08;
}
#accordion .card-body {
    background-color: #080a08e0;
}
.topBtn {
    background-color: #080a08;
}
