.blurBg {
    background-color: #a1662f92;
}
.routeAndFrontkWrapper {
    background-color: #a1662f;
}
.frontWrapper p {
    color: #a1662f;
}
#accordion .card-header {
    background-color: #a1662f;
}
#accordion .card-body {
    background-color: #a1662fe0;
}
.topBtn {
    background-color: #a1662f;
}