.blurBg {
    background-color: #70884a92;
}
.routeAndFrontkWrapper {
    background-color: #70884a;
}
.frontWrapper p {
    color: #70884a;
}
#accordion .card-header {
    background-color: #70884a;
}
#accordion .card-body {
    background-color: #70884ae0;
}
.topBtn {
    background-color: #70884a;
}