.blurBg {
    background-color: #833c4496;
}
.routeAndFrontkWrapper {
    background-color: #833c44;
}
.frontWrapper p {
    color: #833c44;
}
.frontWrapper {
    background-color: #833c44;
}
.nearestLandmarkContainer {
    background-color: #833c44;
}
.landmarkNote {
    color: #833c44;
}
.landmarkNote a {
    color: #833c44;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #833c44;
}