.blurBg {
    background-color: #e1a95696;
}
.routeAndFrontkWrapper {
    background-color: #e1a956;
}
.frontWrapper {
    background-color: #e1a956;
}
.nearestLandmarkContainer {
    background-color: #e1a956;
}
.landmarkNote {
    color: #e1a956;
}
.landmarkNote a {
    color: #e1a956;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #e1a956;
}