.blurBg {
    background-color: #66413196;
}
.routeAndFrontkWrapper {
    background-color: #664131;
}
.frontWrapper p {
    color: #664131;
}
.frontWrapper {
    background-color: #664131;
}
.nearestLandmarkContainer {
    background-color: #664131;
}
.landmarkNote {
    color: #664131;
}
.landmarkNote a {
    color: #664131;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #664131;
}