.blurBg {
    background-color: #531f0f96;
}
.routeAndFrontkWrapper {
    background-color: #531f0f;
}
.frontWrapper p {
    color: #531f0f;
}
.frontWrapper {
    background-color: #531f0f;
}
.nearestLandmarkContainer {
    background-color: #531f0f;
}
.landmarkNote {
    color: #531f0f;
}
.landmarkNote a {
    color: #531f0f;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #531f0f;
}