.blurBg {
    background-color: #74945f96;
}
.routeAndFrontkWrapper {
    background-color: #74945f;
}
.frontWrapper {
    background-color: #74945f;
}
.nearestLandmarkContainer {
    background-color: #74945f;
}
.landmarkNote {
    color: #74945f;
}
.landmarkNote a {
    color: #74945f;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #74945f;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #74945f;
}
.otherBranchesWrapper {
    border-color: #74945f;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #74945f;
}