.blurBg {
    background-color: #cda68896;
}
.routeAndFrontkWrapper {
    background-color: #cda688;
}
.frontWrapper p {
    color: #cda688;
}
.frontWrapper {
    background-color: #cda688;
}
.nearestLandmarkContainer {
    background-color: #cda688;
}
.landmarkNote {
    color: #cda688;
}
.landmarkNote a {
    color: #cda688;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #cda688;
}