.blurBg {
    background-color: #bc477196;
}
.routeAndFrontkWrapper {
    background-color: #bc4771;
}
.frontWrapper p {
    color: #bc4771;
}
.frontWrapper {
    background-color: #bc4771;
}
.nearestLandmarkContainer {
    background-color: #bc4771;
}
.landmarkNote {
    color: #bc4771;
}
.landmarkNote a {
    color: #bc4771;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #bc4771;
}