.blurBg {
    background-color: #275a0c96;
}
.routeAndFrontkWrapper {
    background-color: #275a0c;
}
.frontWrapper p {
    color: #275a0c;
}
.frontWrapper {
    background-color: #275a0c;
}
.nearestLandmarkContainer {
    background-color: #275a0c;
}
.landmarkNote {
    color: #275a0c;
}
.landmarkNote a {
    color: #275a0c;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #275a0c;
}