.blurBg {
    background-color: #977a7c96;
}
.routeAndFrontkWrapper {
    background-color: #977a7c;
}
.frontWrapper p {
    color: #977a7c;
}
.frontWrapper {
    background-color: #977a7c;
}
.nearestLandmarkContainer {
    background-color: #977a7c;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #977a7c;
}