.blurBg {
    background-color: #26364d96;
}
.routeAndFrontkWrapper {
    background-color: #26364d;
}
.frontWrapper {
    background-color: #26364d;
}
.nearestLandmarkContainer {
    background-color: #26364d;
}
.landmarkNote {
    color: #26364d;
}
.landmarkNote a {
    color: #26364d;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #26364d;
}