.blurBg {
    background-color: #bb9d6e96;
}
.routeAndFrontkWrapper {
    background-color: #bb9d6e;
}
.frontWrapper p {
    color: #bb9d6e;
}
.frontWrapper {
    background-color: #bb9d6e;
}
.nearestLandmarkContainer {
    background-color: #bb9d6e;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #bb9d6e;
}