.blurBg {
    background-color: #05082492;
}
.routeAndFrontkWrapper {
    background-color: #050824;
}
.frontWrapper p {
    color: #050824
}
#accordion .card-header {
    background-color: #050824;
}
#accordion .card-body {
    background-color: #050824e0;
}
.topBtn {
    background-color: #050824;
}