.blurBg {
    background-color: #c5996d92;
}
.routeAndFrontkWrapper {
    background-color: #c5996d;
}
.frontWrapper p {
    color: #c5996d
}
#accordion .card-header {
    background-color: #c5996d;
}
#accordion .card-body {
    background-color: #c5996de0;
}
.topBtn {
    background-color: #c5996d;
}