.blurBg {
    background-color: #160bec96;
}
.routeAndFrontkWrapper {
    background-color: #160bec;
}
.frontWrapper p {
    color: #160bec;
}
.frontWrapper {
    background-color: #160bec;
}
.nearestLandmarkContainer {
    background-color: #160bec;
}
.landmarkNote {
    color: #160bec;
}
.landmarkNote a {
    color: #160bec;
}
.topBtn {
    background-color: #160bec;
}