.blurBg {
    background-color: #0d5d0896;
}
.routeAndFrontkWrapper {
    background-color: #0d5d08;
}
.frontWrapper p {
    color: #0d5d08;
}
.frontWrapper {
    background-color: #0d5d08;
}
.nearestLandmarkContainer {
    background-color: #0d5d08;
}
.landmarkNote {
    color: #0d5d08;
}
.landmarkNote a {
    color: #0d5d08;
}
.topBtn {
    background-color: #0d5d08;
}