.blurBg {
    background-color: #772d2596;
}
.routeAndFrontkWrapper {
    background-color: #772d25;
}
.frontWrapper p {
    color: #772d25;
}
.frontWrapper {
    background-color: #772d25;
}
.nearestLandmarkContainer {
    background-color: #772d25;
}
.landmarkNote {
    color: #772d25;
}
.landmarkNote a {
    color: #772d25;
}
.topBtn {
    background-color: #772d25;
}