.blurBg {
    background-color: #a19b9996;
}
.routeAndFrontkWrapper {
    background-color: #a19b99;
}
.frontWrapper p {
    color: #a19b99;
}
.frontWrapper {
    background-color: #a19b99;
}
.nearestLandmarkContainer {
    background-color: #a19b99;
}
.landmarkNote {
    color: #a19b99;
}
.landmarkNote a {
    color: #a19b99;
}
.topBtn {
    background-color: #a19b99;
}