.blurBg {
    background-color: #045d6996;
}
.routeAndFrontkWrapper {
    background-color: #045d69;
}
.frontWrapper p {
    color: #045d69;
}
.frontWrapper {
    background-color: #045d69;
}
.nearestLandmarkContainer {
    background-color: #045d69;
}
.landmarkNote {
    color: #045d69;
}
.landmarkNote a {
    color: #045d69;
}
.topBtn {
    background-color: #045d69;
}