.blurBg {
    background-color: #eec27596;
}
.routeAndFrontkWrapper {
    background-color: #eec275;
}
.frontWrapper p {
    color: #eec275;
}
.frontWrapper {
    background-color: #eec275;
}
.nearestLandmarkContainer {
    background-color: #eec275;
}
.landmarkNote {
    color: #eec275;
}
.landmarkNote a {
    color: #eec275;
}
.topBtn {
    background-color: #eec275;
}