.blurBg {
    background-color: #cc233a96;
}
.routeAndFrontkWrapper {
    background-color: #cc233a;
}
.frontWrapper p {
    color: #cc233a;
}
.frontWrapper {
    background-color: #cc233a;
}
.nearestLandmarkContainer {
    background-color: #cc233a;
}
.landmarkNote {
    color: #cc233a;
}
.landmarkNote a {
    color: #cc233a;
}
.topBtn {
    background-color: #cc233a;
}