.blurBg {
    background-color: #cd414996;
}
.routeAndFrontkWrapper {
    background-color: #cd4149;
}
.frontWrapper p {
    color: #cd4149;
}
.frontWrapper {
    background-color: #cd4149;
}
.nearestLandmarkContainer {
    background-color: #cd4149;
}
.landmarkNote {
    color: #cd4149;
}
.landmarkNote a {
    color: #cd4149;
}
.topBtn {
    background-color: #cd4149;
}