.blurBg {
    background-color: #534f5296;
}
.routeAndFrontkWrapper {
    background-color: #534f52;
}
.frontWrapper p {
    color: #534f52;
}
.frontWrapper {
    background-color: #534f52;
}
.nearestLandmarkContainer {
    background-color: #534f52;
}
.landmarkNote {
    color: #534f52;
}
.landmarkNote a {
    color: #534f52;
}
.topBtn {
    background-color: #534f52;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #534f52;
}
.otherBranchesWrapper {
    border-color: #534f52;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #534f52;
}