.blurBg {
    background-color: #dbb12996;
}
.routeAndFrontkWrapper {
    background-color: #dbb129;
}
.frontWrapper p {
    color: #dbb129;
}
.frontWrapper {
    background-color: #dbb129;
}
.nearestLandmarkContainer {
    background-color: #dbb129;
}
.landmarkNote {
    color: #dbb129;
}
.landmarkNote a {
    color: #dbb129;
}
.topBtn {
    background-color: #dbb129;
}