.blurBg {
    background-color: #dbfd0196;
}
.routeAndFrontkWrapper {
    background-color: #dbfd01;
}
.frontWrapper p {
    color: #dbfd01;
}
.frontWrapper {
    background-color: #dbfd01;
}
.nearestLandmarkContainer {
    background-color: #dbfd01;
}
.landmarkNote {
    color: #dbfd01;
}
.landmarkNote a {
    color: #dbfd01;
}
.topBtn {
    background-color: #dbfd01;
}