.blurBg {
    background-color: #97211696;
}
.routeAndFrontkWrapper {
    background-color: #972116;
}
.frontWrapper p {
    color: #972116;
}
.frontWrapper {
    background-color: #972116;
}
.nearestLandmarkContainer {
    background-color: #972116;
}
.landmarkNote {
    color: #972116;
}
.landmarkNote a {
    color: #972116;
}
.topBtn {
    background-color: #972116;
}