.blurBg {
    background-color: #aa480596;
}
.routeAndFrontkWrapper {
    background-color: #aa4805;
}
.frontWrapper p {
    color: #aa4805;
}
.frontWrapper {
    background-color: #aa4805;
}
.nearestLandmarkContainer {
    background-color: #aa4805;
}
.landmarkNote {
    color: #aa4805;
}
.landmarkNote a {
    color: #aa4805;
}
.topBtn {
    background-color: #aa4805;
}