.blurBg {
    background-color: #baa89996;
}
.routeAndFrontkWrapper {
    background-color: #baa899;
}
.frontWrapper {
    background-color: #baa899;
}
.nearestLandmarkContainer {
    background-color: #baa899;
}
.landmarkNote {
    color: #baa899;
}
.landmarkNote a {
    color: #baa899;
}
.topBtn {
    background-color: #baa899;
}