.blurBg {
    background-color: #fabd4296;
}
.routeAndFrontkWrapper {
    background-color: #fabd42;
}
.frontWrapper p {
    color: #fabd42;
}
.frontWrapper {
    background-color: #fabd42;
}
.nearestLandmarkContainer {
    background-color: #fabd42;
}
.landmarkNote {
    color: #fabd42;
}
.landmarkNote a {
    color: #fabd42;
}
.topBtn {
    background-color: #fabd42;
}