.blurBg {
    background-color: #88685196;
}
.routeAndFrontkWrapper {
    background-color: #886851;
}
.frontWrapper p {
    color: #886851;
}
.frontWrapper {
    background-color: #886851;
}
.nearestLandmarkContainer {
    background-color: #886851;
}
.landmarkNote {
    color: #886851;
}
.landmarkNote a {
    color: #886851;
}
.topBtn {
    background-color: #886851;
}