.blurBg {
    background-color: #d02d3296;
}
.routeAndFrontkWrapper {
    background-color: #d02d32;
}
.frontWrapper p {
    color: #d02d32;
}
.frontWrapper {
    background-color: #d02d32;
}
.nearestLandmarkContainer {
    background-color: #d02d32;
}
.landmarkNote {
    color: #d02d32;
}
.landmarkNote a {
    color: #d02d32;
}
.topBtn {
    background-color: #d02d32;
}