.blurBg {
    background-color: #be212192;
}
.routeAndFrontkWrapper {
    background-color: #be2121;
}
.frontWrapper p {
    color: #be2121
}
#accordion .card-header {
    background-color: #be2121;
}
#accordion .card-body {
    background-color: #be2121e0;
}
.topBtn {
    background-color: #be2121;
}