.blurBg {
    background-color: #b8991092;
}
.routeAndFrontkWrapper {
    background-color: #b89910;
}
.frontWrapper p {
    color: #b89910
}
#accordion .card-header {
    background-color: #b89910;
}
#accordion .card-body {
    background-color: #b89910e0;
}
.topBtn {
    background-color: #b89910;
}