.blurBg {
    background-color: #c7902992;
}
.routeAndFrontkWrapper {
    background-color: #c79029;
}
.frontWrapper p {
    color: #c79029
}
#accordion .card-header {
    background-color: #c79029;
}
#accordion .card-body {
    background-color: #c79029e0;
}
.topBtn {
    background-color: #c79029;
}