.blurBg {
    background-color: #b89b7b96;
}
.routeAndFrontkWrapper {
    background-color: #b89b7b;
}
.frontWrapper p {
    color: #b89b7b;
}
.frontWrapper {
    background-color: #b89b7b;
}
.nearestLandmarkContainer {
    background-color: #b89b7b;
}
.landmarkNote {
    color: #b89b7b;
}
.landmarkNote a {
    color: #b89b7b;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #b89b7b;
}
