.blurBg {
    background-color: #de995296;
}
.routeAndFrontkWrapper {
    background-color: #de9952;
}
.frontWrapper p {
    color: #de9952;
}
.frontWrapper {
    background-color: #de9952;
}
.nearestLandmarkContainer {
    background-color: #de9952;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #de9952;
}