.blurBg {
    background-color: #c2afa696;
}
.routeAndFrontkWrapper {
    background-color: #c2afa6;
}
.frontWrapper p {
    color: #c2afa6;
}
.frontWrapper {
    background-color: #c2afa6;
}
.nearestLandmarkContainer {
    background-color: #c2afa6;
}
.landmarkNote {
    color: #c2afa6;
}
.landmarkNote a {
    color: #c2afa6;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #c2afa6;
}