.blurBg {
    background-color: #b4868096;
}
.routeAndFrontkWrapper {
    background-color: #b48680;
}
.frontWrapper p {
    color: #b48680;
}
.frontWrapper {
    background-color: #b48680;
}
.nearestLandmarkContainer {
    background-color: #b48680;
}
.landmarkNote {
    color: #b48680;
}
.landmarkNote a {
    color: #b48680;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #b48680;
}