.blurBg {
    background-color: #cbba7296;
}
.routeAndFrontkWrapper {
    background-color: #cbba72;
}

.frontWrapper {
    background-color: #cbba72;
}
.nearestLandmarkContainer {
    background-color: #cbba72;
}
.landmarkNote {
    color: #cbba72;
}
.landmarkNote a {
    color: #cbba72;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #cbba72;
}