.blurBg {
    background-color: #29379296;
}
.routeAndFrontkWrapper {
    background-color: #293792;
}
.frontWrapper p {
    color: #293792;
}
.frontWrapper {
    background-color: #293792;
}
.nearestLandmarkContainer {
    background-color: #293792;
}
.landmarkNote {
    color: #293792;
}
.landmarkNote a {
    color: #293792;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #293792;
}