.blurBg {
    background-color: #bda98e96;
}
.routeAndFrontkWrapper {
    background-color: #bda98e;
}
.frontWrapper p {
    color: #bda98e;
}
.frontWrapper {
    background-color: #bda98e;
}
.nearestLandmarkContainer {
    background-color: #bda98e;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #bda98e;
}