.blurBg {
    background-color: #8b8c8896;
}
.routeAndFrontkWrapper {
    background-color: #8b8c88;
}
.frontWrapper {
    background-color: #8b8c88;
}
.nearestLandmarkContainer {
    background-color: #8b8c88;
}
.landmarkNote {
    color: #8b8c88;
}
.landmarkNote a {
    color: #8b8c88;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #8b8c88;
}