.blurBg {
    background-color: #2a3c5c96;
}
.routeAndFrontkWrapper {
    background-color: #2a3c5c;
}
.frontWrapper {
    background-color: #2a3c5c;
}
.nearestLandmarkContainer {
    background-color: #2a3c5c;
}
.landmarkNote {
    color: #2a3c5c;
}
.landmarkNote a {
    color: #2a3c5c;
}
.topBtn {
    background-color: #2a3c5c;
}