.blurBg {
    background-color: #2a3c5c92;
}
.routeAndFrontkWrapper {
    background-color: #2a3c5c;
}
.frontWrapper p {
    color: #2a3c5c
}
#accordion .card-header {
    background-color: #2a3c5c;
}
#accordion .card-body {
    background-color: #2a3c5ce0;
}
.topBtn {
    background-color: #2a3c5c;
}