.blurBg {
    background-color: #09397496;
}
.routeAndFrontkWrapper {
    background-color: #093974;
}
.frontWrapper p {
    color: #093974;
}
.frontWrapper {
    background-color: #093974;
}
.nearestLandmarkContainer {
    background-color: #093974;
}
.landmarkNote {
    color: #093974;
}
.landmarkNote a {
    color: #093974;
}
.topBtn {
    background-color: #093974;
}