.blurBg {
    background-color: #bfa97e92;
}
.routeAndFrontkWrapper {
    background-color: #bfa97e;
}
.frontWrapper p {
    color: #bfa97e;
}
#accordion .card-header {
    background-color: #bfa97e;
}
#accordion .card-body {
    background-color: #bfa97ee0;
}
.topBtn {
    background-color: #bfa97e;
}