.blurBg {
    background-color: #907a6792;
}
.routeAndFrontkWrapper {
    background-color: #907a67;
}
.frontWrapper p {
    color: #907a67;
}
#accordion .card-header {
    background-color: #907a67;
}
#accordion .card-body {
    background-color: #907a67e0;
}
.topBtn {
    background-color: #907a67;
}