.blurBg {
    background-color: #77813c92;
}
.routeAndFrontkWrapper {
    background-color: #77813c;
}
.frontWrapper p {
    color: #77813c;
}
#accordion .card-header {
    background-color: #77813c;
}
#accordion .card-body {
    background-color: #77813ce0;
}
.topBtn {
    background-color: #77813c;
}