.blurBg {
    background-color: #5ca92596;
}
.routeAndFrontkWrapper {
    background-color: #5ca925;
}
.frontWrapper p {
    color: #5ca925;
}
.frontWrapper {
    background-color: #5ca925;
}
.nearestLandmarkContainer {
    background-color: #5ca925;
}
.landmarkNote {
    color: #5ca925;
}
.landmarkNote a {
    color: #5ca925;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #5ca925;
}