.blurBg {
    background-color: #2e67ae;
}
.routeAndFrontkWrapper {
    background-color: #2e67ae;
}
.frontWrapper {
    background-color: #2e67ae;
}
.nearestLandmarkContainer {
    background-color: #2e67ae;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #2e67ae;
}