.blurBg {
    background-color: #ce101092;
}
.routeAndFrontkWrapper {
    background-color: #ce1010;
}
.frontWrapper p {
    color: #ce1010
}
#accordion .card-header {
    background-color: #ce1010;
}
#accordion .card-body {
    background-color: #ce1010e0;
}
.topBtn {
    background-color: #ce1010;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #ce1010;
}
.otherBranchesWrapper {
    border-color: #ce1010
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #ce1010;
}