.blurBg {
    background-color: #ce101096;
}
.routeAndFrontkWrapper {
    background-color: #ce1010;
}
.frontWrapper {
    background-color: #ce1010;
}
.nearestLandmarkContainer {
    background-color: #ce1010;
}
.landmarkNote {
    color: #ce1010;
}
.landmarkNote a {
    color: #ce1010;
}
.topBtn {
    background-color: #ce1010;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #ce1010;
}
.otherBranchesWrapper {
    border-color: #ce1010;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #ce1010;
}