.blurBg {
    background-color: #795c3296;
}
.routeAndFrontkWrapper {
    background-color: #795c32;
}
.frontWrapper p {
    color: #795c32;
}
.frontWrapper {
    background-color: #795c32;
}
.nearestLandmarkContainer {
    background-color: #795c32;
}
.landmarkNote {
    color: #795c32;
}
.landmarkNote a {
    color: #795c32;
}
.topBtn {
    background-color: #795c32;
}