.blurBg {
    background-color: #eb5b0e96;
}
.routeAndFrontkWrapper {
    background-color: #eb5b0e;
}
.frontWrapper {
    background-color: #eb5b0e;
}
.nearestLandmarkContainer {
    background-color: #eb5b0e;
}
.landmarkNote {
    color: #eb5b0e;
}
.landmarkNote a {
    color: #eb5b0e;
}
.topBtn {
    background-color: #eb5b0e;
}