.blurBg {
    background-color: #eb5b0e92;
}
.routeAndFrontkWrapper {
    background-color: #eb5b0e;
}
.frontWrapper p {
    color: #eb5b0e
}
#accordion .card-header {
    background-color: #eb5b0e;
}
#accordion .card-body {
    background-color: #eb5b0ee0;
}
.topBtn {
    background-color: #eb5b0e;
}