.blurBg {
    background-color: #be212196;
}
.routeAndFrontkWrapper {
    background-color: #be2121;
}
.frontWrapper p {
    color: #be2121;
}
.frontWrapper {
    background-color: #be2121;
}
.nearestLandmarkContainer {
    background-color: #be2121;
}
.landmarkNote {
    color: #be2121;
}
.landmarkNote a {
    color: #be2121;
}
.topBtn {
    background-color: #be2121;
}