.blurBg {
    background-color: #71080896;
}
.routeAndFrontkWrapper {
    background-color: #710808;
}
.frontWrapper {
    background-color: #710808;
}
.nearestLandmarkContainer {
    background-color: #710808;
}
.landmarkNote {
    color: #710808;
}
.landmarkNote a {
    color: #710808;
}
.topBtn {
    background-color: #710808;
}