.blurBg {
    background-color: #71080892;
}
.routeAndFrontkWrapper {
    background-color: #710808;
}
.frontWrapper p {
    color: #710808
}
#accordion .card-header {
    background-color: #710808;
}
#accordion .card-body {
    background-color: #710808e0;
}
.topBtn {
    background-color: #710808;
}