.blurBg {
    background-color: #ec1f1f92;
}
.routeAndFrontkWrapper {
    background-color: #ec1f1f;
}
.frontWrapper p {
    color: #ec1f1f
}
#accordion .card-header {
    background-color: #ec1f1f;
}
#accordion .card-body {
    background-color: #ec1f1fe0;
}
.topBtn {
    background-color: #ec1f1f;
}