.blurBg {
    background-color: #ec1f1f96;
}
.routeAndFrontkWrapper {
    background-color: #ec1f1f;
}
.frontWrapper p {
    color: #ec1f1f;
}
.frontWrapper {
    background-color: #ec1f1f;
}
.nearestLandmarkContainer {
    background-color: #ec1f1f;
}
.landmarkNote {
    color: #ec1f1f;
}
.landmarkNote a {
    color: #ec1f1f;
}
.topBtn {
    background-color: #ec1f1f;
}