.blurBg {
    background-color: #b8991096;
}
.routeAndFrontkWrapper {
    background-color: #b89910;
}
.frontWrapper p {
    color: #b89910;
}
.frontWrapper {
    background-color: #b89910;
}
.nearestLandmarkContainer {
    background-color: #b89910;
}
.landmarkNote {
    color: #b89910;
}
.landmarkNote a {
    color: #b89910;
}
.topBtn {
    background-color: #b89910;
}