.blurBg {
    background-color: #c7902996;
}
.routeAndFrontkWrapper {
    background-color: #c79029;
}
.frontWrapper {
    background-color: #c79029;
}
.nearestLandmarkContainer {
    background-color: #c79029;
}
.landmarkNote {
    color: #c79029;
}
.landmarkNote a {
    color: #c79029;
}
.topBtn {
    background-color: #c79029;
}