.blurBg {
    background-color: #622a0f92;
}
.routeAndFrontkWrapper {
    background-color: #622a0f;
}
.frontWrapper p {
    color: #622a0f
}
#accordion .card-header {
    background-color: #622a0f;
}
#accordion .card-body {
    background-color: #622a0fe0;
}
.topBtn {
    background-color: #622a0f;
}