.blurBg {
    background-color: #3a5f0b96;
}
.routeAndFrontkWrapper {
    background-color: #3a5f0b;
}
.frontWrapper p {
    color: #3a5f0b;
}
.frontWrapper {
    background-color: #3a5f0b;
}
.nearestLandmarkContainer {
    background-color: #3a5f0b;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #3a5f0b;
}