.blurBg {
    background-color: #53782396;
}
.routeAndFrontkWrapper {
    background-color: #537823;
}
.frontWrapper p {
    color: #537823
}
.frontWrapper {
    background-color: #537823;
}
.nearestLandmarkContainer {
    background-color: #537823;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #537823;
}