.blurBg {
    background-color: #c9ac8b96;
}
.routeAndFrontkWrapper {
    background-color: #c9ac8b;
}
.frontWrapper {
    background-color: #c9ac8b;
}
.nearestLandmarkContainer {
    background-color: #c9ac8b;
}
.landmarkNote {
    color: #c9ac8b;
}
.landmarkNote a {
    color: #c9ac8b;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #c9ac8b;
}