.blurBg {
    background-color: #2b472796;
}
.routeAndFrontkWrapper {
    background-color: #2b4727;
}
.frontWrapper p {
    color: #2b4727;
}
.frontWrapper {
    background-color: #2b4727;
}
.nearestLandmarkContainer {
    background-color: #2b4727;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #f2779b;
}
.topBtn {
    background-color: #2b4727;
}