.blurBg {
    background-color: #f1b64196;
}
.routeAndFrontkWrapper {
    background-color: #f1b641;
}
.frontWrapper p {
    color: #f1b641;
}
.frontWrapper {
    background-color: #f1b641;
}
.nearestLandmarkContainer {
    background-color: #f1b641;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #f2779b;
}
.topBtn {
    background-color: #f1b641;
}