.blurBg {
    background-color: #245e6996;
}
.routeAndFrontkWrapper {
    background-color: #245e69;
}
.frontWrapper p {
    color: #245e69;
}
.frontWrapper {
    background-color: #245e69;
}
.nearestLandmarkContainer {
    background-color: #245e69;
}
.landmarkNote {
    color: #245e69;
}
.landmarkNote a {
    color: #245e69;
}
.backBtn {
    background-color: #f2779b;
}
.topBtn {
    background-color: #245e69;
}