.blurBg {
    background-color: #83676796;
}
.routeAndFrontkWrapper {
    background-color: #836767;
}
.frontWrapper {
    background-color: #836767;
}
.nearestLandmarkContainer {
    background-color: #836767;
}
.landmarkNote {
    color: #836767;
}
.landmarkNote a {
    color: #836767;
}
.topBtn {
    background-color: #836767;
}