.blurBg {
    background-color: #83676792;
}
.routeAndFrontkWrapper {
    background-color: #836767;
}
.frontWrapper p {
    color: #836767
}
#accordion .card-header {
    background-color: #836767;
}
#accordion .card-body {
    background-color: #836767e0;
}
.topBtn {
    background-color: #836767;
}