.blurBg {
    background-color: #a88d8996;
}
.routeAndFrontkWrapper {
    background-color: #a88d89;
}
.frontWrapper p {
    color: #a88d89;
}
.frontWrapper {
    background-color: #a88d89;
}
.nearestLandmarkContainer {
    background-color: #a88d89;
}
.landmarkNote {
    color: #a88d89;
}
.landmarkNote a {
    color: #a88d89;
}
.topBtn {
    background-color: #a88d89;
}