.blurBg {
    background-color: #2e411a96;
}
.routeAndFrontkWrapper {
    background-color: #2e411a;
}
.frontWrapper p {
    color: #2e411a;
}
.frontWrapper {
    background-color: #2e411a;
}
.nearestLandmarkContainer {
    background-color: #2e411a;
}
.landmarkNote {
    color: #2e411a;
}
.landmarkNote a {
    color: #2e411a;
}
.topBtn {
    background-color: #2e411a;
}