.blurBg {
    background-color: #2e411a92;
}
.routeAndFrontkWrapper {
    background-color: #2e411a;
}
.frontWrapper p {
    color: #2e411a
}
#accordion .card-header {
    background-color: #2e411a;
}
#accordion .card-body {
    background-color: #2e411ae0;
}
.topBtn {
    background-color: #2e411a;
}