.blurBg {
    background-color: #5b8c8896;
}
.routeAndFrontkWrapper {
    background-color: #5b8c88;
}
.frontWrapper p {
    color: #5b8c88;
}
.frontWrapper {
    background-color: #5b8c88;
}
.nearestLandmarkContainer {
    background-color: #5b8c88;
}
.landmarkNote {
    color: #5b8c88;
}
.landmarkNote a {
    color: #5b8c88;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #5b8c88;
}