.blurBg {
    background-color: #8ab05792;
}
.routeAndFrontkWrapper {
    background-color: #8ab057;
}
.frontWrapper p {
    color: #8ab057
}
#accordion .card-header {
    background-color: #8ab057;
}
#accordion .card-body {
    background-color: #8ab057e0;
}
.topBtn {
    background-color: #8ab057e0;
}