.blurBg {
    background-color: #0e135692;
}
.routeAndFrontkWrapper {
    background-color: #0e1356;
}
.frontWrapper p {
    color: #0e1356
}
#accordion .card-header {
    background-color: #0e1356;
}
#accordion .card-body {
    background-color: #0e1356e0;
}
.topBtn {
    background-color: #0e1356;
}