.blurBg {
    background-color: #b3a37292;
}
.routeAndFrontkWrapper {
    background-color: #b3a372;
}
.frontWrapper p {
    color: #b3a372;
}
#accordion .card-header {
    background-color: #b3a372;
}
#accordion .card-body {
    background-color: #b3a372e0;
}
.topBtn {
    background-color: #b3a372;
}