.blurBg {
    background-color: #101f0092;
}
.routeAndFrontkWrapper {
    background-color: #101f00;
}
.frontWrapper p {
    color: #101f00;
}
#accordion .card-header {
    background-color: #101f00;
}
#accordion .card-body {
    background-color: #101f00e0;
}
.topBtn {
    background-color: #101f00;
}