.blurBg {
    background-color: #034f7692;
}
.routeAndFrontkWrapper {
    background-color: #034f76;
}
.frontWrapper p {
    color: #034f76;
}
#accordion .card-header {
    background-color: #034f76;
}
#accordion .card-body {
    background-color: #034f76e0;
}
.topBtn {
    background-color: #034f76;
}