.blurBg {
    background-color: #9d6f5896;
}
.routeAndFrontkWrapper {
    background-color: #9d6f58;
}
.frontWrapper p {
    color: #9d6f58
}
.frontWrapper {
    background-color: #9d6f58;
}
.nearestLandmarkContainer {
    background-color: #9d6f58;
}
.landmarkNote {
    color: #9d6f58;
}
.landmarkNote a {
    color: #9d6f58;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #9d6f58;
}