.blurBg {
    background-color: #99887096;
}
.routeAndFrontkWrapper {
    background-color: #998870;
}
.frontWrapper p {
    color: #998870;
}
.frontWrapper {
    background-color: #998870;
}
.nearestLandmarkContainer {
    background-color: #998870;
}
.landmarkNote {
    color: #998870;
}
.landmarkNote a {
    color: #998870;
}
.backBtn {
    background-color: #f2779b;
}
.topBtn {
    background-color: #998870;
}