.blurBg {
    background-color: #43640c96;
}
.routeAndFrontkWrapper {
    background-color: #43640c;
}
.frontWrapper p {
    color: #43640c;
}
.frontWrapper {
    background-color: #43640c;
}
.nearestLandmarkContainer {
    background-color: #43640c;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #43640c;
}