.blurBg {
    background-color: #bccf5d96;
}
.routeAndFrontkWrapper {
    background-color: #bccf5d;
}
.frontWrapper {
    background-color: #bccf5d;
}
.nearestLandmarkContainer {
    background-color: #bccf5d;
}
.landmarkNote {
    color: #bccf5d;
}
.landmarkNote a {
    color: #bccf5d;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #bccf5d;
}