.blurBg {
    background-color: #7eb35996;
}
.routeAndFrontkWrapper {
    background-color: #7eb359;
}
.frontWrapper p {
    color: #7eb359;
}
.frontWrapper {
    background-color: #7eb359;
}
.nearestLandmarkContainer {
    background-color: #7eb359;
}
.landmarkNote {
    color: #7eb359;
}
.landmarkNote a {
    color: #7eb359;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #7eb359;
}