.blurBg {
    background-color: #33604496;
}
.routeAndFrontkWrapper {
    background-color: #336044;
}
.frontWrapper {
    background-color: #336044;
}
.nearestLandmarkContainer {
    background-color: #336044;
}
.landmarkNote {
    color: #336044;
}
.landmarkNote a {
    color: #336044;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #336044;
}