.blurBg {
    background-color: #a88d8992;
}
.routeAndFrontkWrapper {
    background-color: #a88d89;
}
.frontWrapper p {
    color: #a88d89
}
#accordion .card-header {
    background-color: #a88d89;
}
#accordion .card-body {
    background-color: #a88d89e0;
}
.topBtn {
    background-color: #a88d89;
}