.blurBg {
    background-color: #c27f2896;
}
.routeAndFrontkWrapper {
    background-color: #c27f28;
}
.frontWrapper p {
    color: #c27f28
}
.frontWrapper {
    background-color: #c27f28;
}
.nearestLandmarkContainer {
    background-color: #c27f28;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #c27f28;
}