.blurBg {
    background-color: #496f2696;
}
.routeAndFrontkWrapper {
    background-color: #496f26;
}
.frontWrapper p {
    color: #496f26;
}
.frontWrapper {
    background-color: #496f26;
}
.nearestLandmarkContainer {
    background-color: #496f26;
}
.landmarkNote {
    color: #496f26;
}
.landmarkNote a {
    color: #496f26;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #496f26;
}