.blurBg {
    background-color: #a39a9596;
}
.routeAndFrontkWrapper {
    background-color: #a39a95;
}
.frontWrapper p {
    color: #a39a95;
}
.frontWrapper {
    background-color: #a39a95;
}
.nearestLandmarkContainer {
    background-color: #a39a95;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #a39a95;
}