.blurBg {
    background-color: #b28d7996;
}
.routeAndFrontkWrapper {
    background-color: #b28d79;
}
.frontWrapper {
    background-color: #b28d79;
}
.nearestLandmarkContainer {
    background-color: #b28d79;
}
.landmarkNote {
    color: #b28d79;
}
.landmarkNote a {
    color: #b28d79;
}
.backBtn {
    background-color: #7f181b;
}
.topBtn {
    background-color: #b28d79;
}