.blurBg {
    background-color: #4c76c196;
}
.routeAndFrontkWrapper {
    background-color: #4c76c1;
}
.frontWrapper p {
    color: #4c76c1;
}
.frontWrapper {
    background-color: #4c76c1;
}
.nearestLandmarkContainer {
    background-color: #4c76c1;
}
.landmarkNote {
    color: #4c76c1;
}
.landmarkNote a {
    color: #4c76c1;
}
.topBtn {
    background-color: #4c76c1;
}