.blurBg {
    background-color: #371f0196;
}
.routeAndFrontkWrapper {
    background-color: #371f01;
}
.frontWrapper p {
    color: #371f01;
}
.frontWrapper {
    background-color: #371f01;
}
.nearestLandmarkContainer {
    background-color: #371f01;
}
.landmarkNote {
    color: #371f01;
}
.landmarkNote a {
    color: #371f01;
}
.topBtn {
    background-color: #371f01;
}