.blurBg {
    background-color: #0f162496;
}
.routeAndFrontkWrapper {
    background-color: #0f1624;
}
.frontWrapper p {
    color: #0f1624;
}
.frontWrapper {
    background-color: #0f1624;
}
.nearestLandmarkContainer {
    background-color: #0f1624;
}
.landmarkNote {
    color: #0f1624;
}
.landmarkNote a {
    color: #0f1624;
}
.topBtn {
    background-color: #0f1624;
}