.blurBg {
    background-color: #0b4a7192;
}
.routeAndFrontkWrapper {
    background-color: #0b4a71;
}
.frontWrapper p {
    color: #0b4a71
}
#accordion .card-header {
    background-color: #0b4a71;
}
#accordion .card-body {
    background-color: #0b4a71e0;
}
.topBtn {
    background-color: #0b4a71;
}