.blurBg {
    background-color: #89232396;
}
.routeAndFrontkWrapper {
    background-color: #892323;
}
.frontWrapper p {
    color: #892323;
}
.frontWrapper {
    background-color: #892323;
}
.nearestLandmarkContainer {
    background-color: #892323;
}
.landmarkNote {
    color: #892323;
}
.landmarkNote a {
    color: #892323;
}
.topBtn {
    background-color: #892323;
}