.blurBg {
    background-color: #89232392;
}
.routeAndFrontkWrapper {
    background-color: #892323;
}
.frontWrapper p {
    color: #892323
}
#accordion .card-header {
    background-color: #892323;
}
#accordion .card-body {
    background-color: #892323e0;
}
.topBtn {
    background-color: #892323;
}