.blurBg {
    background-color: #0b4a7196;
}
.routeAndFrontkWrapper {
    background-color: #0b4a71;
}
.frontWrapper p {
    color: #0b4a71;
}
.frontWrapper {
    background-color: #0b4a71;
}
.nearestLandmarkContainer {
    background-color: #0b4a71;
}
.landmarkNote {
    color: #0b4a71;
}
.landmarkNote a {
    color: #0b4a71;
}
.topBtn {
    background-color: #0b4a71;
}