.blurBg {
    background-color: #61360896;
}
.routeAndFrontkWrapper {
    background-color: #613608;
}
.frontWrapper p {
    color: #613608;
}
.frontWrapper {
    background-color: #613608;
}
.nearestLandmarkContainer {
    background-color: #613608;
}
.landmarkNote {
    color: #613608;
}
.landmarkNote a {
    color: #613608;
}
.topBtn {
    background-color: #613608;
}