.blurBg {
    background-color: #61360892;
}
.routeAndFrontkWrapper {
    background-color: #613608;
}
.frontWrapper p {
    color: #613608
}
#accordion .card-header {
    background-color: #613608;
}
#accordion .card-body {
    background-color: #613608e0;
}
.topBtn {
    background-color: #613608;
}