.blurBg {
    background-color: #03250396;
}
.routeAndFrontkWrapper {
    background-color: #032503;
}
.frontWrapper {
    background-color: #032503;
}
.nearestLandmarkContainer {
    background-color: #032503;
}
.landmarkNote {
    color: #032503;
}
.landmarkNote a {
    color: #032503;
}
.topBtn {
    background-color: #032503;
}