.blurBg {
    background-color: #03250392;
}
.routeAndFrontkWrapper {
    background-color: #032503;
}
.frontWrapper p {
    color: #032503
}
#accordion .card-header {
    background-color: #032503;
}
#accordion .card-body {
    background-color: #032503e0;
}
.topBtn {
    background-color: #032503;
}