.blurBg {
    background-color: #dfb9a096;
}
.routeAndFrontkWrapper {
    background-color: #dfb9a0;
}
.frontWrapper p {
    color: #dfb9a0;
}
.frontWrapper {
    background-color: #dfb9a0;
}
.nearestLandmarkContainer {
    background-color: #dfb9a0;
}
.landmarkNote {
    color: #dfb9a0;
}
.landmarkNote a {
    color: #dfb9a0;
}
.topBtn {
    background-color: #dfb9a0;
}