.blurBg {
    background-color: #64243596;
}
.routeAndFrontkWrapper {
    background-color: #642435;
}
.frontWrapper p {
    color: #642435;
}
.frontWrapper {
    background-color: #642435;
}
.nearestLandmarkContainer {
    background-color: #642435;
}
.landmarkNote {
    color: #642435;
}
.landmarkNote a {
    color: #642435;
}
.topBtn {
    background-color: #642435;
}