.blurBg {
    background-color: #64243592;
}
.routeAndFrontkWrapper {
    background-color: #642435;
}
.frontWrapper p {
    color: #642435
}
#accordion .card-header {
    background-color: #642435;
}
#accordion .card-body {
    background-color: #642435e0;
}
.topBtn {
    background-color: #642435;
}