.blurBg {
    background-color: #c7a15992;
}
.routeAndFrontkWrapper {
    background-color: #c7a159;
}
.frontWrapper p {
    color: #c7a159
}
#accordion .card-header {
    background-color: #c7a159;
}
#accordion .card-body {
    background-color: #c7a159e0;
}
.topBtn {
    background-color: #c7a159;
}