.blurBg {
    background-color: #c7a15996;
}
.routeAndFrontkWrapper {
    background-color: #c7a159;
}
.frontWrapper p {
    color: #c7a159;
}
.frontWrapper {
    background-color: #c7a159;
}
.nearestLandmarkContainer {
    background-color: #c7a159;
}
.landmarkNote {
    color: #c7a159;
}
.landmarkNote a {
    color: #c7a159;
}
.topBtn {
    background-color: #c7a159;
}