.blurBg {
    background-color: #14131396;
}
.routeAndFrontkWrapper {
    background-color: #141313;
}
.frontWrapper p {
    color: #141313;
}
.frontWrapper {
    background-color: #141313;
}
.nearestLandmarkContainer {
    background-color: #141313;
}
.landmarkNote {
    color: #141313;
}
.landmarkNote a {
    color: #141313;
}
.topBtn {
    background-color: #141313;
}