.blurBg {
    background-color: #14131392;
}
.routeAndFrontkWrapper {
    background-color: #141313;
}
.frontWrapper p {
    color: #141313
}
#accordion .card-header {
    background-color: #141313;
}
#accordion .card-body {
    background-color: #141313e0;
}
.topBtn {
    background-color: #141313;
}