.blurBg {
    background-color: #05082496;
}
.routeAndFrontkWrapper {
    background-color: #050824;
}
.frontWrapper p {
    color: #050824;
}
.frontWrapper {
    background-color: #050824;
}
.nearestLandmarkContainer {
    background-color: #050824;
}
.landmarkNote {
    color: #050824;
}
.landmarkNote a {
    color: #050824;
}
.topBtn {
    background-color: #050824;
}