.blurBg {
    background-color: #22311d92;
}
.routeAndFrontkWrapper {
    background-color: #22311d;
}
.frontWrapper p {
    color: #22311d
}
#accordion .card-header {
    background-color: #22311d;
}
#accordion .card-body {
    background-color: #22311de0;
}
.topBtn {
    background-color: #22311d;
}