.blurBg {
    background-color: #22311d96;
}
.routeAndFrontkWrapper {
    background-color: #22311d;
}
.frontWrapper {
    background-color: #22311d;
}
.nearestLandmarkContainer {
    background-color: #22311d;
}
.landmarkNote {
    color: #22311d;
}
.landmarkNote a {
    color: #22311d;
}
.topBtn {
    background-color: #22311d;
}