.blurBg {
    background-color: #695b3692;
}
.routeAndFrontkWrapper {
    background-color: #695b36;
}
.frontWrapper p {
    color: #695b36
}
#accordion .card-header {
    background-color: #695b36;
}
#accordion .card-body {
    background-color: #695b36e0;
}
.topBtn {
    background-color: #695b36;
}