.blurBg {
    background-color: #c5996d96;
}
.routeAndFrontkWrapper {
    background-color: #c5996d;
}
.frontWrapper {
    background-color: #c5996d;
}
.nearestLandmarkContainer {
    background-color: #c5996d;
}
.landmarkNote {
    color: #c5996d;
}
.landmarkNote a {
    color: #c5996d;
}
.topBtn {
    background-color: #c5996d;
}