.blurBg {
    background-color: #3642ba96;
}
.routeAndFrontkWrapper {
    background-color: #3642ba;
}
.frontWrapper p {
    color: #3642ba;
}
.frontWrapper {
    background-color: #3642ba;
}
.nearestLandmarkContainer {
    background-color: #3642ba;
}
.landmarkNote {
    color: #3642ba;
}
.landmarkNote a {
    color: #3642ba;
}
.topBtn {
    background-color: #3642ba;
}