.blurBg {
    background-color: #115aae96;
}
.routeAndFrontkWrapper {
    background-color: #115aae;
}
.frontWrapper p {
    color: #115aae;
}
.frontWrapper {
    background-color: #115aae;
}
.nearestLandmarkContainer {
    background-color: #115aae;
}
.landmarkNote {
    color: #115aae;
}
.landmarkNote a {
    color: #115aae;
}
.topBtn {
    background-color: #115aae;
}