.blurBg {
    background-color: #115aae92;
}
.routeAndFrontkWrapper {
    background-color: #115aae;
}
.frontWrapper p {
    color: #115aae
}
#accordion .card-header {
    background-color: #115aae;
}
#accordion .card-body {
    background-color: #115aaee0;
}
.topBtn {
    background-color: #115aae;
}