.blurBg {
    background-color: #371f0192;
}
.routeAndFrontkWrapper {
    background-color: #371f01;
}
.frontWrapper p {
    color: #371f01
}
#accordion .card-header {
    background-color: #371f01;
}
#accordion .card-body {
    background-color: #371f01e0;
}
.topBtn {
    background-color: #371f01;
}