.blurBg {
    background-color: #82521792;
}
.routeAndFrontkWrapper {
    background-color: #825217;
}
.frontWrapper p {
    color: #825217
}
#accordion .card-header {
    background-color: #825217;
}
#accordion .card-body {
    background-color: #825217e0;
}
.topBtn {
    background-color: #825217;
}