.blurBg {
    background-color: #47300696;
}
.routeAndFrontkWrapper {
    background-color: #473006;
}
.frontWrapper p {
    color: #473006;
}
.frontWrapper {
    background-color: #473006;
}
.nearestLandmarkContainer {
    background-color: #473006;
}
.landmarkNote {
    color: #473006;
}
.landmarkNote a {
    color: #473006;
}
.topBtn {
    background-color: #473006;
}