.blurBg {
    background-color: #3e2b1f92;
}
.routeAndFrontkWrapper {
    background-color: #3e2b1f;
}
.frontWrapper p {
    color: #3e2b1f
}
#accordion .card-header {
    background-color: #3e2b1f;
}
#accordion .card-body {
    background-color: #3e2b1fe0;
}
.topBtn {
    background-color: #3e2b1f;
}