.blurBg {
    background-color: #3e2b1f96;
}
.routeAndFrontkWrapper {
    background-color: #3e2b1f;
}
.frontWrapper {
    background-color: #3e2b1f;
}
.nearestLandmarkContainer {
    background-color: #3e2b1f;
}
.landmarkNote {
    color: #3e2b1f;
}
.landmarkNote a {
    color: #3e2b1f;
}
.topBtn {
    background-color: #3e2b1f;
}