.blurBg {
    background-color: #465c5096;
}
.routeAndFrontkWrapper {
    background-color: #465c50;
}
.frontWrapper {
    background-color: #465c50;
}
.nearestLandmarkContainer {
    background-color: #465c50;
}
.landmarkNote {
    color: #465c50;
}
.landmarkNote a {
    color: #465c50;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #465c50;
}