.blurBg {
    background-color: #aac51f96;
}
.routeAndFrontkWrapper {
    background-color: #aac51f;
}
.frontWrapper p {
    color: #aac51f;
}
.frontWrapper {
    background-color: #aac51f;
}
.nearestLandmarkContainer {
    background-color: #aac51f;
}
.landmarkNote {
    color: #aac51f;
}
.landmarkNote a {
    color: #aac51f;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #aac51f;
}