.blurBg {
    background-color: #3a5f0b96;
}
.routeAndFrontkWrapper {
    background-color: #3a5f0b;
}
.frontWrapper p {
    color: #3a5f0b;
}
.frontWrapper {
    background-color: #3a5f0b;
}
.nearestLandmarkContainer {
    background-color: #3a5f0b;
}
.landmarkNote {
    color: #3a5f0b;
}
.landmarkNote a {
    color: #3a5f0b;
}
.backBtn {
    background-color: #5123b9;
}
.topBtn {
    background-color: #3a5f0b;
}