.blurBg {
    background-color: #fe5f3751;
    padding-top: 25vw;
}
.whereToPic {
    border: 1px solid #fe5f3757;
}
.bodyTitle {
    color: #cf5c1f;
}
.choiceName {
    color: #cf5c1f;
}
.card {
    box-shadow: 3px 7px 5px #cf5c1fe0;
}
@media only screen and (max-width: 430px) {
    .blurBg {
        background-color: #fe5f3751;
        padding-top: 26vw;
    }
    .tagaytayWord::after {
        content: "";
    }
    .choices {
        background-color: #cf5c1f;
    }
}