body {
    background-color: #bc5b4b;
}
.blurBg {
    background-color: #bc5b4b51;
    padding-top: 25vw;
}
.card {
    background-color: #f1f1f1;
}
.title {
    color: #010101;
}
.desc {
    color: #101010;
}
.destination::-webkit-scrollbar-track {
    background: #444444;
    border-radius: 50px;
}
.destination::-webkit-scrollbar-thumb {
    background: #9094b1;
    border-radius: 50px;
}