.blurBg {
    background-color: #3a5f0b96;
}
.routeAndFrontkWrapper {
    background-color: #3a5f0b;
}
.nearestLandmarkContainer {
    background-color: #3a5f0b;
}
.landmarkNote {
    color: #3a5f0b;
}
.landmarkNote a {
    color: #3a5f0b;
}
.backBtn {
    background-color: #fe5f37;
}
.topBtn {
    background-color: #3a5f0b;
}
