.blurBg {
    background-color: #8aa66396;
}
.routeAndFrontkWrapper {
    background-color: #8aa663;
}
.frontWrapper p {
    color: #8aa663;
}
.frontWrapper {
    background-color: #8aa663;
}
.nearestLandmarkContainer {
    background-color: #8aa663;
}
.landmarkNote {
    color: #8aa663;
}
.landmarkNote a {
    color: #8aa663;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #8aa663;
}
