.blurBg {
    background-color: #29a5e896;
}
.routeAndFrontkWrapper {
    background-color: #29a5e8;
}
.frontWrapper p {
    color: #29a5e8;
}
.frontWrapper {
    background-color: #29a5e8;
}
.nearestLandmarkContainer {
    background-color: #29a5e8;
}
.landmarkNote {
    color: #29a5e8;
}
.landmarkNote a {
    color: #29a5e8;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #29a5e8;
}
