.blurBg {
    background-color: #30484096;
}
.routeAndFrontkWrapper {
    background-color: #304840;
}
.frontWrapper p {
    color: #304840;
}
.frontWrapper {
    background-color: #304840;
}
.nearestLandmarkContainer {
    background-color: #304840;
}
.landmarkNote {
    color: #304840;
}
.landmarkNote a {
    color: #304840;
}
.backBtn {
    background-color: #f6be43;
}
.topBtn {
    background-color: #304840;
}
