.blurBg {
    background-color: #8b8c8896;
}
.routeAndFrontkWrapper {
    background-color: #8b8c88;
}
.frontWrapper p {
    color: #8b8c88;
}
.frontWrapper {
    background-color: #8b8c88;
}
.nearestLandmarkContainer {
    background-color: #8b8c88;
}
.landmarkNote {
    color: #1e1e1e;
}
.landmarkNote a {
    color: #1e1e1e;
}
.backBtn {
    background-color: #f2779b;
}
.topBtn {
    background-color: #8b8c88;
}