.blurBg {
    background-color: #273b2296;
}
.routeAndFrontkWrapper {
    background-color: #273b22;
}
.frontWrapper p {
    color: #273b22;
}
.frontWrapper {
    background-color: #273b22;
}
.nearestLandmarkContainer {
    background-color: #273b22;
}
.landmarkNote {
    color: #273b22;
}
.landmarkNote a {
    color: #273b22;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #273b22;
}