.blurBg {
    background-color: #03467b96;
}
.routeAndFrontkWrapper {
    background-color: #03467b;
}
.frontWrapper p {
    color: #03467b;
}
.frontWrapper {
    background-color: #03467b;
}
.nearestLandmarkContainer {
    background-color: #03467b;
}
.landmarkNote {
    color: #03467b;
}
.landmarkNote a {
    color: #03467b;
}
.backBtn {
    background-color: #21c088;
}
.topBtn {
    background-color: #03467b;
}