.blurBg {
    background-color: #0a250892;
}
.routeAndFrontkWrapper {
    background-color: #0a2508;
}
.frontWrapper p {
    color: #0a2508;
}
#accordion .card-header {
    background-color: #0a2508;
}
#accordion .card-body {
    background-color: #0a2508e0;
}
.topBtn {
    background-color: #0a2508;
}
