.blurBg {
    background-color: #d0ab8792;
}
.routeAndFrontkWrapper {
    background-color: #d0ab87;
}
.frontWrapper p {
    color: #d0ab87;
}
#accordion .card-header {
    background-color: #d0ab87;
}
#accordion .card-body {
    background-color: #d0ab87e0;
}
.topBtn {
    background-color: #d0ab87;
}