.blurBg {
    background-color: #d1bca092;
}
.routeAndFrontkWrapper {
    background-color: #d1bca0;
}
.frontWrapper p {
    color: #d1bca0;
}
#accordion .card-header {
    background-color: #d1bca0;
}
#accordion .card-body {
    background-color: #d1bca0e0;
}
.topBtn {
    background-color: #d1bca0;
}
