.blurBg {
    background-color: #5c850c96;
}
.routeAndFrontkWrapper {
    background-color: #5c850c;
}
.frontWrapper p {
    color: #5c850c;
}
.frontWrapper {
    background-color: #5c850c;
}
.nearestLandmarkContainer {
    background-color: #5c850c;
}
.landmarkNote {
    color: #5c850c;
}
.landmarkNote a {
    color: #5c850c;
}
.backBtn {
    background-color: #0a0442;
}
.topBtn {
    background-color: #5c850c;
}