.blurBg {
    background-color: #795c3292;
}
.routeAndFrontkWrapper {
    background-color: #795c32;
}
.frontWrapper p {
    color: #795c32
}
#accordion .card-header {
    background-color: #795c32;
}
#accordion .card-body {
    background-color: #795c32e0;
}
.topBtn {
    background-color: #795c32;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #795c32;
}
.otherBranchesWrapper {
    border-color: #795c32
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #795c32;
}