.blurBg {
    background-color: #a3673b96;
}
.routeAndFrontkWrapper {
    background-color: #a3673b;
}
.frontWrapper p {
    color: #a3673b;
}
.frontWrapper {
    background-color: #a3673b;
}
.nearestLandmarkContainer {
    background-color: #a3673b;
}
.landmarkNote {
    color: #a3673b;
}
.landmarkNote a {
    color: #a3673b;
}
.topBtn {
    background-color: #a3673b;
}