.blurBg {
    background-color: #3a5f0b92;
}
.routeAndFrontkWrapper {
    background-color: #3a5f0b;
}
.frontWrapper p {
    color: #3a5f0b
}
#accordion .card-header {
    background-color: #3a5f0b;
}
#accordion .card-body {
    background-color: #3a5f0be0;
}
.topBtn {
    background-color: #3a5f0b;
}
.otherBranchesWrapper .otherBranchHeader {
    color: #3a5f0b;
}
.otherBranchesWrapper {
    border-color: #3a5f0b
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #3a5f0b;
}