.blurBg {
    background-color: #61361396;
}
.routeAndFrontkWrapper {
    background-color: #613613;
}
.frontWrapper p {
    color: #613613;
}
.frontWrapper {
    background-color: #613613;
}
.nearestLandmarkContainer {
    background-color: #613613;
}
.landmarkNote {
    color: #613613;
}
.landmarkNote a {
    color: #613613;
}
.topBtn {
    background-color: #613613;
}