.blurBg {
    background-color: #61361392;
}
.routeAndFrontkWrapper {
    background-color: #613613;
}
.frontWrapper p {
    color: #613613
}
#accordion .card-header {
    background-color: #613613;
}
#accordion .card-body {
    background-color: #613613e0;
}
.topBtn {
    background-color: #613613;
}