.blurBg {
    background-color: #99795092;
}
.routeAndFrontkWrapper {
    background-color: #997950;
}
.frontWrapper p {
    color: #997950
}
#accordion .card-header {
    background-color: #997950;
}
#accordion .card-body {
    background-color: #997950e0;
}
.topBtn {
    background-color: #997950;
}