.blurBg {
    background-color: #99795096;
}
.routeAndFrontkWrapper {
    background-color: #997950;
}
.frontWrapper {
    background-color: #997950;
}
.nearestLandmarkContainer {
    background-color: #997950;
}
.landmarkNote {
    color: #997950;
}
.landmarkNote a {
    color: #997950;
}
.topBtn {
    background-color: #997950;
}