.blurBg {
    background-color: #1b1c1b92;
}
.routeAndFrontkWrapper {
    background-color: #1b1c1b;
}
.frontWrapper p {
    color: #1b1c1b
}
#accordion .card-header {
    background-color: #1b1c1b;
}
#accordion .card-body {
    background-color: #1b1c1be0;
}
.topBtn {
    background-color: #1b1c1b;
}
.otherBranchesWrapper {
    border-color: #1b1c1b
}
.otherBranchesWrapper .otherBranchHeader {
    color: #1b1c1b;
}
.otherBranchesWrapper .destination .choicesWrapper a {
    color: #1b1c1b;
}