.blurBg {
    background-color: #49200092;
}
.routeAndFrontkWrapper {
    background-color: #492000;
}
.frontWrapper p {
    color: #492000
}
#accordion .card-header {
    background-color: #492000;
}
#accordion .card-body {
    background-color: #492000e0;
}
.topBtn {
    background-color: #492000;
}