.blurBg {
    background-color: #49200096;
}
.routeAndFrontkWrapper {
    background-color: #492000;
}
.frontWrapper {
    background-color: #492000;
}
.nearestLandmarkContainer {
    background-color: #492000;
}
.landmarkNote {
    color: #492000;
}
.landmarkNote a {
    color: #492000;
}
.topBtn {
    background-color: #492000;
}