.blurBg {
    background-color: #a1662f96;
}
.routeAndFrontkWrapper {
    background-color: #a1662f;
}
.frontWrapper p {
    color: #a1662f;
}
.frontWrapper {
    background-color: #a1662f;
}
.nearestLandmarkContainer {
    background-color: #a1662f;
}
.landmarkNote {
    color: #a1662f;
}
.landmarkNote a {
    color: #a1662f;
}
.topBtn {
    background-color: #a1662f;
}