.blurBg {
    background-color: #3e210892;
}
.routeAndFrontkWrapper {
    background-color: #3e2108;
}
.frontWrapper p {
    color: #3e2108
}
#accordion .card-header {
    background-color: #3e2108;
}
#accordion .card-body {
    background-color: #3e2108e0;
}
.topBtn {
    background-color: #3e2108;
}