.blurBg {
    background-color: #09397492;
}
.routeAndFrontkWrapper {
    background-color: #093974;
}
.frontWrapper p {
    color: #093974
}
#accordion .card-header {
    background-color: #093974;
}
#accordion .card-body {
    background-color: #093974e0;
}
.topBtn {
    background-color: #093974;
}